<template>
    <div>
        <VuePhoneNumberInput 
            v-model="phone" 
            id="phone"
            default-country-code="BA" 
            :no-country-selector="false"
            :only-countries="['BA']"
            :translations="{
                countrySelectorLabel: 'Pozivni',
                countrySelectorError: 'Choisir un pays',
                phoneNumberLabel: 'Broj telefona',
                example: 'Primjer :'
            }"
            :border-radius="10"
            color="#999999"
            @update="setPhone"
        />
        <input type="hidden" :value="phoneFormatted" name="phone">
    </div>
</template>

<script>
    import VuePhoneNumberInput from 'vue-phone-number-input';

    export default {
        components: {
            VuePhoneNumberInput
        },

        props: {
            phoneNumber: {
                type: String,
                required: false,
                default: null
            }
        },

        data() {
            return {
                phone: this.phoneNumber,
                phoneFormatted: null
            }
        },

        methods: {
            setPhone(input) {
                this.phoneFormatted = input.isValid ? input.formattedNumber : null;
            }
        }
    }
</script>

<style lang="scss">
.vue-phone-number-input {
    display: flex;

    .select-country-container {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 120px;
        flex: 0 0 120px;
        width: 120px;
        min-width: 120px;
        max-width: 120px;

        .country-selector {
            position: relative;
            z-index: 0;
            height: 50px;
            min-height: 50px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            .country-selector__label {
                position: absolute;
                top: 3px;
                cursor: pointer;
                left: 11px;
                -webkit-transition: all .25s cubic-bezier(.645,.045,.355,1);
                transition: all .25s cubic-bezier(.645,.045,.355,1);
                color: #747474;
                opacity: 1;
                -webkit-transform: translateY(0);
                transform: translateY(0);
                font-size: 11px;
            }

            .country-selector__input {
                cursor: pointer;
                background-color: #fff;
                position: relative;
                width: 100%;
                height: 50px;
                min-height: 50px;
                padding-right: 22px;
                padding-top: 14px;
                padding-left: 40px;
                font-weight: 400;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                outline: none;
                font-size: 13px;
                z-index: 0;
                color: #000;
                caret-color: #000;
                -webkit-box-shadow: none !important;
                box-shadow: none !important;
                border: 1px solid #e5e5e5 !important;
            }

            .country-selector__list {
                display: none;
            }

            .country-selector__country-flag {
                margin: auto 0;
                position: absolute;
                left: 11px;
                z-index: 1;
                cursor: pointer;
                top: 26px;

                .iti-flag {
                    width: 20px;
                    height: 10px;
                    background-image: url('/images/icons/flags.png');
                    background-repeat: no-repeat;
                    background-color: #dbdbdb;
                    background-position: 20px 0;

                    &.iti-flag.ba {
                        background-position: -374px 0;
                    }
                }

                .vue-phone-number-input input {
                    cursor: pointer;
                    background-color: #fff;
                    position: relative;
                    width: 100%;
                    padding-right: 22px;
                    font-weight: 400;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    outline: none;
                    font-size: 13px;
                    z-index: 0;
                    color: #000;
                    caret-color: #000000;
                    box-shadow: none;
                    border: 1px solid #e5e5e5;
                    height: 50px;
                    min-height: 50px;
                    padding-left: 40px;
                    padding-top: 14px;
                }
            }

            .country-selector__toggle {
                display: none;
            }
        }
    }

    .flex-1 {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    .input-tel {
        position: relative;
        height: 50px;
        min-height: 50px;

        .input-tel__input {
            caret-color: #000000;
            box-shadow: none !important;
            border: 1px solid #e5e5e5 !important;
            cursor: pointer;
            background-color: #fff;
            -webkit-transition-duration: .3s;
            transition-duration: .3s;
            position: relative;
            width: 100%;
            padding: 0 12px;
            font-weight: 400;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            outline: none;
            font-size: 14px;
            z-index: 0;
            margin-left: -1px;
            height: 50px;
            min-height: 50px;
        }

        .input-tel__label {
            position: absolute;
            top: 4px;
            cursor: pointer;
            left: 13px;
            -webkit-transform: translateY(25%);
            transform: translateY(25%);
            opacity: 0;
            -webkit-transition: all .25s cubic-bezier(.645,.045,.355,1);
            transition: all .25s cubic-bezier(.645,.045,.355,1);
            font-size: 11px;
            color: #747474;
        }

        &.has-hint .input-tel__input, 
        &.has-value .input-tel__input {
            padding-top: 14px;
        }

        &.has-hint .input-tel__label, 
        &.has-value .input-tel__label {
            opacity: 1;
            -webkit-transform: translateY(0);
            transform: translateY(0);
            font-size: 11px;
        }
    }
}
</style>