<template>
	<div>
		<input type="hidden" :name="name" v-model="redactorContent">
		<textarea :id="id"></textarea>
	</div>
</template>

<script>
	var redactor = require('../../../vendor/redactor/redactor.js');

	export default {
		props: {
			id: {
				type: String,
				required: true
			},

			name: {
				type: String,
				required: true	
			},

			value: {
				type: String,
				required: false,
				default: ''
			},

			minHeight: {
				type: String,
				required: false,
				minHeight: '100px'
			}
		},

		data() {
			return {
				redactorContent: this.value
			}
		},

		mounted() {
			$('#' + this.id).redactor({
				minHeight: this.minHeight
			})
			.on('change.callback.redactor', (content) => {
            	this.redactorContent = content;
            	this.$emit('input', content);
            });

	       	$('#' + this.id).redactor('code.set', this.value);
		}
	}
</script>