<template>
	<div class="form-group">
		<div class="form-group">
			<div v-for="(photo, index) in photos"
				:key="index"
				class="img-item"
				:style="{'background-image': 'url(' + photo.urls.thumb + ')'}"
			>
				<i class="fa fa-times" aria-hidden="true" @click="deletePhoto(photo.id)"></i>
			</div>
		</div>

		<vue-dropzone 
        	:ref="'sectionDropzone-' + targetId" 
        	id="dropzone"
        	:include-styling="false"
        	:use-custom-slot="true"
        	:options="dropzoneOptions"
	        v-on:vdropzone-success-multiple="uploadSuccess"
	        v-on:vdropzone-files-added="filesAdded"
	        v-on:vdropzone-error="uploadFail"
	        v-on:vdropzone-total-upload-progress="totalUploadProgress"
	    >
	    	<button class="btn btn-primary btn-sm" @click.prevent><i v-if="uploadingPhotos" class="fa fa-refresh fa-spin"></i> Dodaj slike <span v-if="uploadProgress">({{Math.round(uploadProgress)}}%)</span></button>
	    </vue-dropzone>
	    <span v-if="message"> - {{message}}</span>
	</div>
</template>
<script>
	import vue2Dropzone from 'vue2-dropzone';

	export default {
		components: {
		    vueDropzone: vue2Dropzone
		},

		props: {
			target: {
				type: String,
				required: true
			},

			targetId: {
				type: Number,
				required: false,
				default: null
			},

			preferredStyle: {
				type: String,
				required: false,
				default: 'thumb'
			},

			preferredDevice: {
				type: String,
				required: false,
				default: null
			},

			initialPhotos: {
				type: Array,
				required: false,
				default: function() {
					return [];
				}
			}
		},

		data() {
			return {
				photos: this.initialPhotos,
				uploadingPhotos: false,
				uploadProgress: null,
				message: null,
				dropzoneOptions: {
		          	url: '/api/photos',
		          	headers: {
		          		'X-CSRF-TOKEN': Laravel.csrfToken
		          	},
		          	params: {
		          		'target': this.target,
		          		'target_id': this.targetId,
		          		'preferred_style': this.preferredStyle,
						'preferred_device': this.preferredDevice,
		          		'process_synchronous': 'true',
		          	},
		          	acceptedFiles: 'image/*',
		          	timeout: 3600000,
		          	paramName: 'photos',
		          	uploadMultiple: true,
		          	parallelUploads: 5,
		          	maxFiles: 5,
		          	createImageThumbnails: false,
		          	dictDefaultMessage: 'Klikni za upload slika.'
		        }
			}
		},


		methods: {
			deletePhoto(photoId) {
				if(confirm("Da li zaista zelite obrisati sliku!")) {
					axios.delete('/photos/' + photoId, {
						params: {
							'target': this.target,
							'target_id': this.targetId
				    	}
					})
					.then((response) => {
						var index = this.photos.findIndex((photo) => {
							return photo.id == photoId;
						});

						if(index >= 0)
							this.photos.splice(index, 1);
					});
				}
			},

			filesAdded() {
				this.uploadingPhotos = true;
				this.message = null;
			},

			uploadSuccess(files, response) {
				response.photos.forEach((photo) => {
					this.photos.push(photo);
				});

				this.$refs['sectionDropzone-' + this.targetId].removeAllFiles();
				this.uploadingPhotos = false;
				this.uploadProgress = null;
			},

			uploadFail(file, message, xhr) {
				window.setTimeout(() => {
					this.uploadingPhotos = false;
					this.uploadProgress = null;
					this.message = 'Slika ne smije biti veca od 10MB i mora biti odgovarajucih dimenzija.';
				}, 500);
			},

			totalUploadProgress(totaluploadprogress, totalBytes, totalBytesSent) {
				this.uploadProgress = totaluploadprogress;	
			}
		}
	}
</script>

<style lang="scss">
	.img-item {
		width: 100px;
	    height: 100px;
	    display: inline-block;
	    background-position: 50% 50%;
	    -webkit-background-size: cover;
	    background-size: cover;
	    background-repeat: no-repeat;
	    margin: 0 10px;
	    position: relative;

	    i {
	    	position: absolute;
		    bottom: 5px;
		    right: 5px;
		    color: #ffffff;
		    background: #dc3545;
		    border-radius: 5px;
		    padding: 5px;
	    	cursor: pointer;
	    }
	}
</style>