<template>
    <div class="add-to-cart-info">
        <div v-if="product.variants.length" class="d-md-flex justify-content-between align-items-start">
            <div class="mb-2" style="width: 220px; height: 42px; line-height: 42px;">Odaberi veličinu</div>
            <div class="d-flex flex-wrap justify-content-md-start" style="margin-left: -0.25rem; margin-right: -0.25rem;">
                <div 
                    v-for="variant in product.variants" 
                    :key="variant.id"
                    class="variant"
                >
                    <input 
                        v-if="variant.in_stock" 
                        type="radio" 
                        :value="variant" 
                        :id="'variant-' + variant.id" 
                        class="d-none" 
                        name="product-variant"
                        v-model="itemVariant"
                    >
                    <label 
                        class="py-2 px-3 mx-1 mb-2" 
                        :class="{'disabled': !variant.in_stock}"
                        :for="'variant-' + variant.id"
                    >
                        {{variant.name}}
                    </label>
                </div>
            </div>
        </div>
        <br>
        <div v-if="product.in_stock && product.variants.length == 0" class="d-flex justify-content-between align-items-center">
            <div>
                <span>Odaberi količinu</span> <br>
                <b style="color: #009900"><i class="fa fa-circle" aria-hidden="true"></i> Dostupno</b>
            </div>
            <item-quantity v-model="itemCount" classes="m-0"></item-quantity>
        </div>
        <br v-if="product.in_stock && product.variants.length == 0">
        <div v-if="showVariantsError" class="alert alert-danger m-0 mb-2">
            Odaberite veličinu prije dodavanja u korpu!
        </div>
        <button v-if="product.in_stock" @click="addToCart(product)" type="button" class="btn btn-primary w-100" style="height:50px;">DODAJ U KORPU</button>
        <button v-else type="button" class="btn btn-secondary w-100" disabled="disabled" style="height:50px;">Nije dostupno</button>
    </div>
</template>
<script>
import ItemQuantity from './ItemQuantity';

export default {
    components: {
        ItemQuantity
    },

    props: {
        product: {
            type: Object,
            required: true
        }
    },

    data() {
        return {
            itemCount: 1,
            itemVariant: null,
            showVariantsError: false
        }
    },

    methods: {
        addToCart(product) {
            this.showVariantsError = false;

            if(this.product.variants && this.product.variants.length && !this.itemVariant) {
                this.showVariantsError = true;

                return;
            }

            this.$store.dispatch('addToCart', {
                product: product,
                quantity: this.itemCount,
                variant: this.itemVariant,
                totalPrice: this.itemCount * product.real_price
            });

            this.$eventBus.$emit('quickCart.open', true);

            if (process.env.MIX_ENVIRONMENT && process.env.MIX_ENVIRONMENT != 'local' && typeof fbq === "function") {
                fbq('track', 'AddToCart', product);
            }

            var item = {
                item_id: product.id,
                item_name: product.full_name,
                currency: 'BAM',
                item_brand: product.brand.name,
                location_id: 'ChIJTTMviO9IYUcRDYkZWEDmylQ',
                price: product.real_price,
                quantity: this.itemCount,
                index: 0
            };

            var categories = product.categories_hierarchy.split('/');

            if(categories[0]) {
                item.item_category = categories[0];
            }

            if(categories[1]) {
                item.item_category2 = categories[1];
            }

            if(categories[2]) {
                item.item_category3 = categories[2];
            }

            dataLayer.push({ ads: null });  // Clear the previous ads object.
            dataLayer.push({ ecommerce: null });  // Clear the previous ecommerce object.
            dataLayer.push({
                event: 'add_to_cart',

                // Google Dynamic Remarketing values
                ads: {
                    value: product.real_price * this.itemCount,
                    items: [{
                        id: product.id,
                        google_business_vertical: 'custom'
                    }]
                },

                // GA4 values
                ecommerce: {
                    currency: 'BAM',
                    value: product.real_price * this.itemCount,
                    items: [item]
                }
            });
        }
    }
}
</script>