<template>
    
</template>
<script>
export default {
    props: {
        totalCartPrice: {
            type: Number,
            required: true
        },

        order: {
            type: Object,
            required: true
        }
    },

    mounted() {
        axios.get('/orders/' + this.order.order_number + '/seen').then((response) => {
            if(response.data == 0) {
                // Prepare GA event
                var products = [];
                var items = [];
                this.order.orderProducts.forEach((product, index) => {
                    var categories = product.categories_hierarchy.split('/');
                    var product = {
                        item_id: product.id,
                        item_name: product.full_name,
                        currency: 'BAM',
                        price: product.real_price,
                        quantity: product.quantity,
                        item_brand: product.brand_name,
                        location_id: 'ChIJTTMviO9IYUcRDYkZWEDmylQ',
                        index: index
                    };

                    if(categories[0]) {
                        product.item_category = categories[0];
                    }

                    if(categories[1]) {
                        product.item_category2 = categories[1];
                    }

                    if(categories[2]) {
                        product.item_category3 = categories[2];
                    }

                    products.push(product);

                    items.push({
                        'id': product.id,
                        'google_business_vertical': 'custom'
                    });
                });

                dataLayer.push({ ads: null });  // Clear the previous ads object.
                dataLayer.push({ ecommerce: null });  // Clear the previous ecommerce object.
                dataLayer.push({
                    event: 'purchase',

                    // Google Dynamic Remarketing values
                    ads: {
                        value: this.order.total_price,
                        items: items,
                    },

                    // GA4 values
                    ecommerce: {
                        transaction_id: this.order.order_number,
                        value: this.order.total_price,
                        shipping: this.order.shipping_price,
                        currency: 'BAM',
                        items: products
                    }
                });

                // Fire Facebook Pixel event
                if (process.env.MIX_ENVIRONMENT && process.env.MIX_ENVIRONMENT != 'local' && typeof fbq === "function") {
                    fbq('track', 'Purchase', {
                        value: this.totalCartPrice,
                        currency: 'EUR'
                    });
                }
            }
        });
    }
}
</script>