<template>
    <div @click="open" id="header-cart-icon" class="icon-header-item">
        <span style="position:relative;">
            <i class="fa fa-shopping-cart icon-header-noti" aria-hidden="true">
                <div class="count">{{cartCount}}</div>
            </i>
        </span>
        <div v-if="cartTotalPrice" class="shipping-tooltip total-price">
            {{cartTotalPrice | formatPrice}}
        </div>
        <!-- <div v-else class="shipping-tooltip">
            DOSTAVA {{lowestShippingConst}}KM!
        </div> -->
    </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';

export default {
    computed: {
        ...mapState({
            freeShipping: state => state.cart.free_shipping,
        }),

        ...mapGetters([
            'cartCount',
            'cartTotalPrice'
        ])
    },

    props: {
		cart: {
			type: Object,
			required: false,
			default: null
		}
	},

    data() {
        return {
            lowestShippingConst: Laravel.lowest_shipping_cost
        }
    },

	created() {
		if(this.cart != null) {
			this.$store.dispatch('setCart', this.cart);
		}
	},

    methods: {
        open() {
            this.$eventBus.$emit('quickCart.open');
        }
    }
}
</script>