<template>
    <div class="content-topbar h-100 container-xl" :class="{'warning': showAmountToFreeShippingAlert && !freeShipping}">
        <div class="left-top-bar">
            <div v-if="freeShipping"><i class="fa fa-truck mr-1" aria-hidden="true"></i> Ostvarili ste <b>Besplatnu dostavu!</b> 🎉🎊</div>
            <div v-else-if="showAmountToFreeShippingAlert"><i class="fa fa-truck mr-1" aria-hidden="true"></i> <b>{{amountToFreeShipping | formatPrice}}</b> Vas dijeli do <b>Besplatne dostave!</b></div>
            <div v-else><i class="fa fa-truck mr-1" aria-hidden="true"></i> Dostava već od {{lowestShippingCost}}KM! | <b>Iznad {{freeShippingThreshold}}KM besplatna.</b></div>
        </div>

        <div class="right-top-bar d-none d-lg-flex align-self-stretch py-1">
            <a v-if="showAdminLink" :href="adminLink" class="pr-3">Admin</a>
            <a href="https://www.facebook.com/apotekaviva24" target="_blank" rel="noreferrer noopener" class="pr-2"><i class="fa fa-facebook" style="font-size:18px"></i></a>
            <a href="https://www.instagram.com/apotekaviva24" target="_blank" rel="noreferrer noopener" class="pl-2 pr-3 border-right"><i class="fa fa-instagram" style="font-size:18px"></i></a>
            <a :href="locationsLink" class="d-flex align-items-center justify-content-center pr-3 pl-3"><i class="fa fa-map-marker mr-1" aria-hidden="true"></i> Naše Apoteke</a>
            <a v-if="authenticated" :href="settingsLink" class="d-flex align-items-center justify-content-center pr-3" id="user-avatar"><i class="fa fa-user-o mr-1" aria-hidden="true"></i> Moj račun</a>
            <a v-if="authenticated" :href="logoutLink" id="logout-desktop" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                Odjava
            </a>
            <form v-if="authenticated" id="logout-form" :action="logoutLink" method="POST" style="display: none;">
                <input type="hidden" name="_token" :value="csrfToken">
            </form>
            <a v-if="!authenticated" :href="registerLink" class="pr-3">Registracija</a>
            <a v-if="!authenticated" :href="loginLink">Prijava</a>
        </div>
    </div>
</template>

<script>
    import { mapState, mapGetters } from 'vuex';

    export default {
        props: {
            showAdminLink: {
                type: Boolean,
                required: true
            },

            adminLink: {
                type: String,
                required: true
            },

            locationsLink: {
                type: String,
                required: true
            },

            registerLink: {
                type: String,
                required: true
            },

            loginLink: {
                type: String,
                required: true
            },

            settingsLink: {
                type: String,
                required: true
            },

            logoutLink: {
                type: String,
                required: true
            }
        },

        data() {
            return {
                lowestShippingCost: Laravel.lowest_shipping_cost,
                authenticated: Laravel.authenticated,
                csrfToken: Laravel.csrfToken,
                freeShippingThreshold: Laravel.free_shipping_threshold,
                freeShippingThresholdAlert: Laravel.free_shipping_threshold_alert
            }
        },

        computed: {
            ...mapState({
                freeShipping: state => state.cart.free_shipping,
            }),

            ...mapGetters([
                'cartTotalPrice'
            ]),

            amountToFreeShipping() {
                return this.freeShippingThreshold - this.cartTotalPrice;
            },

            showAmountToFreeShippingAlert() {
                return (this.freeShippingThreshold - this.cartTotalPrice) <= this.freeShippingThresholdAlert && (this.freeShippingThreshold - this.cartTotalPrice) > 0;
            }
        },
    }
</script>