<template>
    <div class="wrap-num-product" :class="classes">
        <div @click="decrement" class="btn-num-product-down">
            <i class="fa fa-minus" aria-hidden="true"></i>
        </div>

        <div class="text-center num-product">{{count}}</div>

        <input type="hidden" :name="array ? array + '[quantity]' : 'quantity'" :value="count">

        <div @click="increment" class="btn-num-product-up">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        value: {
            type: Number,
            required: false,
            default: 1
        },

        classes: {
            type: String,
            required: false,
            default: ''
        },

        array: {
            type: String,
            required: false,
            default: null
        }
    },

    data() {
        return {
            count: this.value
        }
    },

    watch: {
        value(newVal) {
            this.count = newVal;
        },

        count(newVal, oldVal) {
            if(newVal > 50 || newVal < 1)
                this.count = oldVal;

            this.$emit('input', this.count);
        }
    },

    methods: {
        increment () {
            if(this.count < 50)
                this.count++;

        },

        decrement() {
            if(this.count > 1)
                this.count--;
        }
    }
}
</script>