<template>
<div class="wrap-header-cart">
    <div @click="close" class="h-100 w-100"></div>
    <div class="header-cart d-flex flex-column">
        <div class="header-cart-title">
            <span class="title">
                Vaša korpa
            </span>
            <div @click="close" class="close-icon">
                Zatvori
            </div>
            <div v-if="newItemAdded" class="new-item-added-alert"><i class="fa fa-check-circle" aria-hidden="true"></i> Proizvod je dodan u korpu</div>
        </div>
        <div class="header-cart-content">
            <ul class="header-cart-wrapitem w-100">
                <li v-for="product in $store.state.cart.products" :key="product.id" class="header-cart-item d-flex py-2">
                    <div class="header-cart-item-img">
                        <a :href="/proizvodi/ + product.slug">
                            <img v-if="product.photos && product.photos[0] && product.photos[0].urls && product.photos[0].urls.thumb" :src="product.photos[0].urls.thumb" :alt="product.full_name">
                            <img v-else src="/images/logo_270_contrast.png" alt="ApotekaViva24">
                        </a>
                    </div>
                    <div class="header-cart-item-text">
                        <i class="fa fa-times remove-product" aria-hidden="true" @click="removeProduct(product)" :id="'remove-product-' + product.id"></i>
                        <a :href="/proizvodi/ + product.slug" class="header-cart-item-name">
                            <div v-if="product.brand">{{product.brand.name}}</div>
                            <div class="font-weight-bold">{{product.name}}</div>
                            <div v-if="product.package_description">{{product.package_description}}</div>
                            <div v-if="product.variants_string">Br. {{product.variants_string}}</div>
                            <span class="header-cart-item-info">
                                {{product.quantity}} x {{product.real_price | formatPrice}}
                            </span>
                        </a>
                    </div>
                </li>
                <div v-if="$store.state.cart.products.length == 0" class="text-center">
                    <div class="py-5">Vaša korpa je prazna</div>
                </div>
            </ul>
            <div v-if="$store.state.cart.products.length" class="w-100">
                <div class="header-cart-total w-100">
                    <div class="font-weight-bold d-flex">
                        <span style="width:35%">Cijena:</span>
                        <span>{{cartTotalPrice | formatPrice}}</span>
                    </div>
                    <div v-if="freeShipping" class="free-shipping-success"><i class="fa fa-truck mr-1" aria-hidden="true"></i> Ostvarili ste besplatnu dostavu! 🎉🎊</div>
                    <div v-else-if="showAmountToFreeShippingAlert" class="free-shipping-warning"><i class="fa fa-truck mr-1" aria-hidden="true"></i> {{amountToFreeShipping | formatPrice}} Vas dijeli do besplatne dostave!</div>
                    <div v-else class="free-shipping-success"><i class="fa fa-truck mr-1" aria-hidden="true"></i> Dostava već od {{lowestShippingCost}}KM!</div>
                </div>
                <div class="header-cart-buttons d-flex flex-wrap w-100">
                    <a :href="checkoutUrl" class="btn btn-primary w-100 mb-2 _dusk_to_checkout" @click="fbEvent">Na kasu <i class="fa fa-chevron-right ml-2" aria-hidden="true"></i></a>
                    <a :href="cartUrl" class="btn btn-outline-primary w-100 _dusk_to_cart" @click="fbEvent">Idi u korpu</a>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>
import { mapState, mapGetters } from 'vuex';

export default {
    props: {
        cartUrl: {
            type: String,
            required: true
        },

        checkoutUrl: {
            type: String,
            required: true
        }
    },

    data() {
        return {
            lowestShippingCost: Laravel.lowest_shipping_cost,
            newItemAdded: false,
            freeShippingThreshold: Laravel.free_shipping_threshold,
            freeShippingThresholdAlert: Laravel.free_shipping_threshold_alert
        }
    },

    mounted() {
        this.$eventBus.$on('quickCart.open', (newItemAdded = false) => {
            this.newItemAdded = newItemAdded;
            this.open();
        });
    },

    computed: {
        ...mapState({
            freeShipping: state => state.cart.free_shipping,
        }),

        ...mapGetters([
            'cartTotalPrice'
        ]),

        amountToFreeShipping() {
            return this.freeShippingThreshold - this.cartTotalPrice;
        },

        showAmountToFreeShippingAlert() {
            return (this.freeShippingThreshold - this.cartTotalPrice) <= this.freeShippingThresholdAlert && (this.freeShippingThreshold - this.cartTotalPrice) > 0;
        }
    },

    methods: {
        open() {
            $('.wrap-header-cart').addClass('show-header-cart');
            $('body').addClass('modal-open');
        },

        close() {
            $('.wrap-header-cart').removeClass('show-header-cart');
            $('body').removeClass('modal-open');
            this.newItemAdded = false;
        },

        removeProduct(product) {
            var categories = product.categories_hierarchy.split('/');
            var item = {
                item_id: product.id,
                item_name: product.full_name,
                item_brand: product.brand.name,
                price: product.real_price,
                currency: 'BAM',
                quantity: product.quantity,
                location_id: 'ChIJTTMviO9IYUcRDYkZWEDmylQ',
                index: 0
            };

            if(categories[0]) {
                item.item_category = categories[0];
            }

            if(categories[1]) {
                item.item_category2 = categories[1];
            }

            if(categories[2]) {
                item.item_category3 = categories[2];
            }

            dataLayer.push({ ads: null }); // Clear the previous ads object.
            dataLayer.push({ ecommerce: null });  // Clear the previous ecommerce object.
            dataLayer.push({
                event: 'remove_from_cart',
                ecommerce: {
                    currency: 'BAM',
                    value: product.real_price * product.quantity,
                    items: [item]
                }
            });

            this.$store.dispatch('removeProduct', product);
        },

        fbEvent() {
            if (process.env.MIX_ENVIRONMENT && process.env.MIX_ENVIRONMENT != 'local' && typeof fbq === "function") {
                fbq('track', 'InitiateCheckout');
            }
        }
    }
}
</script>