<template>
    <div class="shipping-info" :class="{'pulse': hasCountdown}">
        <div class="d-flex align-items-start">
            <i class="fa fa-truck mr-3" aria-hidden="true" style="font-size: 35px"></i> 
            <div>
                <div v-if="hasCountdown">
                    Naruči u sljedećih <b><span v-if="remainingHours">{{remainingHours}} {{hourWording}}</span> <span v-if="remainingHours && remainingMinutes">i</span> <span v-if="remainingMinutes">{{remainingMinutes}} min {{remainingSeconds}}</span></b> i očekuj proizvod naredni radni dan!*
                </div>
                <div v-else>
                    Naruči prije <b>14:00h</b> i očekuj proizvod već naredni radni dan!*
                </div>
                <div class="mt-1" style="line-height: 1;">
                    <em style="font-size: 14px">* Ne vrijedi za narudžbe vikendom i praznicima. Navedeni termini dostave su informativni i proizlaze iz pretpostavljenih termina dostavljača.</em>
                </div>
            </div>
        </div>

        <hr>

        <div 
            v-for="(shippingMethod, index) in shippingMethods" 
            :key="shippingMethod.id" 
            :class="{'mt-3': index > 0}"
            class="d-flex align-items-start"
            :style="shippingMethod.key == 'x_express_fast' ? 'display:none !important' : ''"
        >
            <img class="mr-3 mt-2" :data-src="'/images/logos/' + shippingMethod.key + '.png'" alt="ApotekaViva24" style="width: 35px" v-lazy-img>
            <div>
                {{shippingMethod.name}} <span v-if="shippingMethod.key == 'x_express_fast'" class="fast">Hitno</span>
                <br>
                <span v-if="hasFreeShipping" class="shipping-price">BESPLATNO</span>
                <span v-else class="shipping-price">{{shippingMethod.price | formatPrice}}</span>
                <br v-if="shippingMethod.key == 'x_express_fast'">
                <span v-if="shippingMethod.key == 'x_express_fast'" style="font-size: 12px;"><i class="fa fa-info-circle" aria-hidden="true"></i> Prije odabira saznaj više <a class="link" :href="fastShippingInfoUrl">ovdje</a>.</span>
            </div>
        </div>

        <div class="mt-3 d-flex align-items-start">
            <img class="mr-3 mt-2" data-src="/images/logos/vertical-logo.svg" alt="ApotekaViva24" style="width: 35px" v-lazy-img>
            <div>
                Preuzimanje na jednoj od naših <a href="/lokacije" class="link" target="_blank">lokacija</a>
                <br>
                <span class="shipping-price">BESPLATNO</span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            shippingMethods: {
                type: Array,
                required: true
            },

            hasFreeShipping: {
                type: Boolean,
                required: false,
                default: false
            },

            fastShippingInfoUrl: {
                type: String,
                required: true
            }
        },

        data() {
            return {
                pulse: false,
                remainingHours: null,
                remainingMinutes: null,
                remainingSeconds: null,
                hourWording: 'sat',
                hasCountdown: false
            }
        },

        created() {
            this.calcShippingInfo();

            window.setInterval(() => {
                this.calcShippingInfo();
            }, 60000);
        },

        methods: {
            calcShippingInfo() {
                const workDays = [1, 2, 3, 4, 5];
                var dateNow = new Date();
                var shippingDate = new Date(dateNow.getFullYear(), dateNow.getMonth(), dateNow.getDate(), 14);
                var weekday = dateNow.getDay();

                var seconds = Math.floor((shippingDate - (dateNow)) / 1000);
                var minutes = Math.floor(seconds / 60);
                var hours = Math.floor(minutes / 60);
                var days = Math.floor(hours / 24);

                this.remainingHours = hours - (days * 24);
                this.remainingMinutes = minutes - (days * 24 * 60) - (hours * 60);

                if(this.remainingHours > 1 && this.remainingHours < 5) {
                    this.hourWording = 'sata';
                } else if(this.remainingHours > 4) {
                    this.hourWording = 'sati';
                }

                if(workDays.includes(weekday) && this.remainingHours <= 12 && (this.remainingHours > 0 || this.remainingMinutes > 0)) {
                    this.pulse = true;
                    this.hasCountdown = true;
                }
            }
        }
    }
</script>
