<template>
    <div>
        <div class="form-group">
            <button v-if="!discountCollection.active" @click.prevent="enableDiscount" class="btn btn-success">Pokreni popust <i v-if="working" class="fa fa-refresh fa-spin"></i></button>
            <button v-if="discountCollection.active" @click.prevent="disableDiscount" class="btn btn-danger">Zaustavi popust <i v-if="working" class="fa fa-refresh fa-spin"></i></button>
        </div>

        <div class="form-group">
            <label for="start_at">Početak popusta</label>
            <datetime :min-datetime="minDatetime" value-zone="UTC+1" type="datetime" input-class="form-control" v-model="startAt"></datetime>
            <input type="hidden" name="start_at" :value="startAtFormatted">
        </div>

        <div class="form-group">
            <label for="end_at">Kraj popusta</label>
            <datetime :min-datetime="minDatetime" value-zone="UTC+1" type="datetime" input-class="form-control" v-model="endAt"></datetime>
            <input type="hidden" name="end_at" :value="endAtFormatted">
        </div>

        <h4>Odabir proizvoda</h4>

        <div class="form-group">
            <label for="brand">Brend</label>
            <select class="form-control" id="brand" name="brand" v-model="selectedBrand">
                <option v-for="brand in brands" :key="brand.id" :value="brand.id">
                    {{brand.name}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <button v-if="products.length" @click.prevent="addAll" class="btn btn-default">Dodaj sve</button>
            <button v-if="selectedProducts.length" @click.prevent="removeAll" class="btn btn-default pull-right">Ukloni sve</button>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label>Proizvodi</label>
                <div v-if="products.length" class="list-group">
                    <ul class="list-group">
                        <li v-for="(product, index) in products" :key="product.id" class="list-group-item d-flex justify-content-between align-items-center">
                            {{index + 1}}. {{product.name}}
                            <button @click.prevent="addProduct(product)" class="btn btn-success btn-xs pull-right">+</button>
                        </li>
                    </ul>
                </div>
                <div v-else>Nema proizvoda</div>
            </div>
            <div class="col-md-6">
                <label>Odabrani Proizvodi</label>
                <div v-if="selectedProducts.length" class="list-group">
                    <ul class="list-group">
                        <li v-for="(product, index) in selectedProducts" :key="'selected_' + product.id" class="list-group-item d-flex justify-content-between align-items-center">
                            {{index + 1}}. {{product.name}}
                            <button @click.prevent="removeProduct(product)" class="btn btn-danger btn-xs pull-right">-</button>
                        </li>
                    </ul>
                </div>
                <div v-else>Nema proizvoda</div>
            </div>
        </div>
    </div>
</template>

<script>    
    import { Datetime } from 'vue-datetime';
    import 'vue-datetime/dist/vue-datetime.css';

    export default {
        components: {
            datetime: Datetime
        },

        props: {
            initialDiscountCollection: {
                type: Object,
                required: true
            },

            initialSelectedProducts: {
                type: Array,
                required: false,
                default: () => {
                    return [];
                }
            }
        },

        data() {
            return {
                brands: [],
                products: [],
                selectedProducts: this.initialSelectedProducts,
                selectedBrand: null,
                loading: false,
                working: false,
                discountCollection: this.initialDiscountCollection,
                startAt: this.initialDiscountCollection.start_at ? this.initialDiscountCollection.start_at : null,
                endAt: this.initialDiscountCollection.end_at ? this.initialDiscountCollection.end_at : null,
                minDatetime: new Date().toISOString()
            }
        },

        created() {
            this.getBrands();
        },

        computed: {
            startAtFormatted() {
                if(this.startAt) {
                    return this.startAt.substring(0, 10) + ' ' + this.startAt.substring(11, 19);
                }

                return null;
            },

            endAtFormatted() {
                if(this.endAt) {
                    return this.endAt.substring(0, 10)  + ' ' + this.endAt.substring(11, 19);
                }

                return null;
            }
        },

        methods: {
            getBrands() {
                axios.get('/brands')
                    .then((response) => {
                        this.brands = response.data;                        
                    })
            },

            getProducts(brandId) {
                axios.get('/brands/' + brandId + '/products')
                    .then((response) => {
                        this.products = response.data;
                    });
            },

            updateProducts(products) {
                if(this.loading)
                    return;

                this.loading = true;
                let productIds = [];

                products.forEach((product) => {
                    productIds.push(product.id);
                });

                let filteredProductIds = productIds.filter((id, index) => {
                    return productIds.indexOf(id) == index;
                });

                let filteredProducts = [];
                products.forEach((product) => {
                    let index = filteredProducts.findIndex((item) => {
                        return item.id == product.id;
                    });

                    if(index < 0) {
                        filteredProducts.push(product);
                    }
                });

                axios.post('/discount-collections/' + this.discountCollection.id + '/products/update', {
                    'products': filteredProductIds
                }).then((response) => {
                    this.selectedProducts = filteredProducts;
                    this.loading = false;
                }).catch((error) => {
                    this.loading = false;
                    alert('Doslo je do greske!');
                });
            },

            addAll() {
                this.updateProducts(this.products);
            },

            removeAll() {
                this.updateProducts([]);
            },

            addProduct(product) {
                let products = this.selectedProducts.slice();
                products.push(product);
                this.updateProducts(products);
            },

            removeProduct(product) {
                let products = this.selectedProducts.slice();
                let index = products.findIndex((item) => {
                    return item.id == product.id
                });
                products.splice(index, 1);
                this.updateProducts(products);
            },

            enableDiscount() {
                if(this.working)
                    return;

                this.working = true;

                axios.get('/discount-collections/' + this.discountCollection.id + '/enable')
                .then((response) => {
                    this.discountCollection.active = true;
                    this.working = false;
                    alert('Popust uspjesno pokrenut!');
                }).catch((error) => {
                    this.working = false;
                    alert('Doslo je do greske!');
                });
            },

            disableDiscount() {
                if(this.working)
                    return;

                this.working = true;

                axios.get('/discount-collections/' + this.discountCollection.id + '/disable')
                .then((response) => {
                    this.discountCollection.active = false;
                    this.working = false;
                    alert('Popust uspjesno zaustavljen!');
                }).catch((error) => {
                    this.working = false;
                    alert('Doslo je do greske!');
                });
            }
        },

        watch: {
            selectedBrand(newVal) {
                if(newVal) {
                    this.getProducts(newVal);
                } else {
                    this.products = [];
                }
            }
        }
    }
</script>

<style>
    .vdatetime .vdatetime-popup {
        top:100px;
        transform: translate(-50%, 0px);
    }
</style>