<template>
    <div>
        <multiselect 
            v-model="selectedOptions" 
            :options="options"
            :placeholder="placeholder"
            :label="label"
            :track-by="trackBy"
            :multiple="true" 
            :taggable="true"
            :hide-selected="true"
            :show-labels="false"
        ></multiselect>

        <input v-for="item in selectedOptions" :key="item.id" type="hidden" name="categories[]" :value="item.id">
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'

    export default {
        components: { Multiselect },

        props: {
            options: {
                type: Array,
                required: false
            },

            placeholder: {
                type: String,
                required: true
            },

            selected: {
                type: Array,
                required: false,
                default: () => {
                    return []
                }
            },

            trackBy: {
                type: String,
                required: false
            },

            label: {
                type: String,
                required: true
            }
        },
        
        data () {
            return {
                selectedOptions: this.selected
            }
        }
    }
</script>