<template>
    <div>
        <multiselect 
            v-model="selectedBrands" 
            id="brands_search" 
            label="name" 
            track-by="id" 
            placeholder="Traži brend..." 
            open-direction="bottom" 
            :options="brands" 
            :multiple="true" 
            :searchable="true" 
            :loading="isLoading" 
            :internal-search="false" 
            :clear-on-select="false" 
            :close-on-select="false" 
            :options-limit="50" 
            :limit="50" 
            :limit-text="limitText" 
            :max-height="600" 
            :show-no-results="false" 
            :hide-selected="true" 
            @search-change="asyncFind"
        >
            <template slot="clear" slot-scope="props">
                <div v-if="selectedBrands.length" class="multiselect__clear" @mousedown.prevent.stop="clearAll(props.search)"></div>
            </template>
            <span slot="noResult">Nema rezultata</span>
            <span slot="noOptions">Nema rezultata</span>
        </multiselect>

        <input v-for="item in selectedBrands" :key="item.id" type="hidden" name="brand_ids[]" :value="item.id">
        <input v-if="selectedBrands.length == 0" type="hidden" name="brand_ids" value="">
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'

    export default {
        components: { Multiselect },

        props: {
            initialBrands: {
                type: Array,
                required: false,
                default: () => {
                    return [];
                }
            }
        },
        
        data () {
            return {
                selectedBrands: this.initialBrands,
                brands: [],
                isLoading: false
            }
        },

        methods: {
            limitText (count) {
                return `i ${count} drugih brendova`
            },

            asyncFind (query) {
                this.isLoading = true;

                if(query == '') {
                    this.brands = [];
                    this.isLoading = false;
                    return;
                }

                axios.get('/brands?q=' + query)
                    .then((response) => {
                        this.brands = response.data;
                        this.isLoading = false;
                    });
            },

            clearAll () {
                this.selectedBrands = [];
            }
        }
    }
</script>