<template>
    <span v-if="isPaid" class="label label-success">DA</span>
    <div v-else>
        <span class="label label-danger">NE</span>
        <a v-if="showPayLink" href="javascript:void(0)" @click="pay">Plati</a>
    </div>

</template>

<script>
export default {
    props: {
        paymentId: {
            type: Number,
            required: true
        },

        paid: {
            type: Boolean,
            required: true
        },

        showPayLink: {
            type: Boolean,
            required: true
        }
    },

    data() {
        return {
            isPaid: this.paid
        }
    },

    methods: {
        pay() {
            if(confirm('Da li zaista želite ožnačiti fakturu kao plaćenu?')) {
                axios.post('/payments/' + this.paymentId + '/pay')
                    .then(() => {
                        this.isPaid = true;
                    })
                    .catch((error) => {
                        alert('Došlo je do greške!');
                    });
            }
        }
    }
}
</script>

<style lang="scss" scoped>
    a {
        cursor: pointer;
        color: #337ab7;

        &:hover {
            text-decoration: underline;
        }
    }
</style>