<template>
    <div>
        <ul class="list-group">
            <li v-for="variant in variants" :key="variant.id" class="list-group-item">
                {{variant.name}}
                <div class="pull-right" style="display: flex">
                    <div class="form-check" style="margin-right: 5px">
                        <input type="checkbox" class="form-check-input" :id="'variant' + variant.id" :checked="variant.in_stock" @click="updateVariantInStock(variant)">
                        <label class="form-check-label">Dostupno</label>
                    </div>
                    <button @click="deleteVariant(variant.id)" class="btn btn-danger btn-xs" type="button">Obriši</button>
                </div>
            </li>
        </ul>

        <div class="form-group" :class="{'has-error': variantNameError}">
            <input v-model="variantName" type="text" class="form-control" placeholder="Ime nove varijante">
            <span v-if="variantNameError" class="help-block">
                <strong>{{variantNameError}}</strong>
            </span>
        </div>

        <button @click="createVariant" class="btn btn-primary btn-sm" type="button">Dodaj</button>
    </div>
</template>

<script>
export default {
    props: {
        productId: {
            type: Number,
            required: true
        }
    },

    data() {
        return {
            variants: [],
            variantName: null,
            variantNameError: null
        }
    },

    created() {
        this.getVariants();
    },

    methods: {
        getVariants() {
            axios.get('/products/' + this.productId + '/variants')
                .then((response) => {
                    this.variants = response.data.variants;
                });
        },

        createVariant() {
            this.variantNameError = null;

            axios.post('/products/' + this.productId + '/variants', {
                name: this.variantName
            }).then((response) => {
                this.variantName = null;
                this.getVariants();
            }).catch((error) => {
                if(error.response.status == 422) {
                    console.log(error.response.data.errors.name[0]);
                    this.variantNameError = error.response.data.errors.name[0];
                }
            });
        },

        deleteVariant(variantId) {
            if (confirm('Da li zaista želite obrisati varijantu?')) {
                axios.delete('/products/' + this.productId + '/variants/' + variantId)
                    .then((response) => {
                        this.getVariants();
                    });  
            }
        },

        updateVariantInStock(variant) {
            if (confirm('Da li zaista želite promijeniti dostupnost?')) {
                axios.post('/products/' + this.productId + '/variants/' + variant.id, {
                    'in_stock': !variant.in_stock
                }).then((response) => {
                    this.getVariants();
                });  
            }
        }
    }
}
</script>
