<template>
    <div class="ais-SearchBox">
        <search-input
            @focus="$emit('focus', $event)"
            @blur="$emit('blur', $event)"
            @reset="$emit('reset')"
            v-model="currentRefinement"
        ></search-input>
    </div>
</template>

<script>
import { connectSearchBox } from 'instantsearch.js/es/connectors';
import { createWidgetMixin } from 'vue-instantsearch';
import SearchInput from './SearchInput.vue';

export default {
    mixins: [
        createWidgetMixin({ connector: connectSearchBox })
    ],

    components: {
        SearchInput
    },

    props: {
        value: {
            type: String,
            default: undefined
        }
    },

    data() {
        return {
            localValue: ''
        };
    },

    computed: {
        isControlled() {
            return typeof this.value !== 'undefined';
        },

        currentRefinement: {
            get() {
                // if the input is controlled, but not up to date
                // this means it didn't search, and we should pretend it was `set`
                if (this.isControlled && this.value !== this.localValue) {
                    // eslint-disable-next-line vue/no-side-effects-in-computed-properties
                    this.localValue = this.value;
                    this.$emit('input', this.value);

                    if(this.state && this.value.length > 1) {
                        this.state.refine(this.value);
                    }
                }

                if(this.value)
                    return this.value;
                else if(this.state && this.state.query)
                    return this.state.query;
                else return '';
            },

            set(val) {
                this.localValue = val;

                if(this.state && this.value.length > 1) {
                    this.state.refine(val);
                }

                if (this.isControlled) {
                    this.$emit('input', val);
                }
            }
        }
    }
};
</script>