<template>
    <div class="viva-modal wrap-modal1" :class="{'show-modal1': showModal}">
        <div class="overlay-modal1" @click="close"></div>

        <div v-if="showModal" class="container modal-body search-modal">
			<div class="header d-flex justify-content-between align-items-center">
				<div class="title">PRETRAŽI</div>
				<div class="close-icon" @click="close">Zatvori</div>
			</div>
			<ais-instant-search
				:search-client="searchClient"
				index-name="brands"
				:search-function="searchFunction"
			>
				<search-box v-model="query" class="mb-3"></search-box>
				<ais-configure
					:restrictSearchableAttributes="['name']"
					:hitsPerPage="5"
				/>
				<ais-hits>
					<template slot-scope="{ items }">
						<div v-show="query.length > 2">
							<div class="d-flex justify-content-between align-items-center">
								<ais-stats>
									<div slot-scope="{ nbHits }" class="my-2 font-weight-bold">
										Brendovi ( {{nbHits}} )
									</div>
								</ais-stats>
								<a v-if="items.length" :href="brandsUrl" class="show-all-link">Vidi sve</a>
							</div>
							<ul>
								<li v-for="item in items" :key="'brand_' + item.id" class="py-1">
									<a :href="item.url" class="link-hover">
										<ais-highlight :hit="item" attribute="name" />
									</a>
								</li>
								<div v-if="items.length == 0" class="no-results">
									Nismo pronašli rezultate
								</div>
							</ul>
							<hr />
						</div>
					</template>
				</ais-hits>
				<ais-index index-name="products">
					<ais-configure
						:restrictSearchableAttributes="['full_name', 'brand']"
						:hitsPerPage="5"
					/>
					<ais-hits>
						<template slot-scope="{ items }">
							<div v-show="query.length > 2">
								<div class="d-flex justify-content-between align-items-center">
									<ais-stats>
										<div slot-scope="{ nbHits }" class="my-2 font-weight-bold">
											Proizvodi ( {{nbHits}} )
										</div>
									</ais-stats>
									<a v-if="items.length" :href="productsUrl + '?sq=' + query" class="show-all-link">Vidi sve</a>
								</div>
								<ul>
									<li v-for="item in items" :key="'product_' + item.id" class="py-1">
										<a :href="item.url" class="d-flex link-hover">
											<div class="product-image">
												<img v-if="item.photo" :src="item.photo" :alt="item.full_name" width="50" class="pr-2">
												<img v-else src="/images/logo_270_contrast.png" alt="ApotekaViva24" width="50" class="pr-2">
											</div>
											<div>
												<div class="product-brand-name">
													{{item.brand}}
												</div>
												<ais-highlight :hit="item" attribute="full_name" />
											</div>
										</a>
									</li>
									<div v-if="items.length == 0" class="no-results">
										Nismo pronašli rezultate
									</div>
								</ul>
								<hr />
							</div>
						</template>
					</ais-hits>
				</ais-index>
				<ais-index index-name="categories">
					<ais-configure
						:restrictSearchableAttributes="['title']"
						:hitsPerPage="5"
					/>
					<ais-hits>
						<template slot-scope="{ items }">
							<div v-show="query.length > 2">
								<div class="d-flex justify-content-between align-items-center">
									<ais-stats>
										<div slot-scope="{ nbHits }" class="my-2 font-weight-bold">
											Kategorije ( {{nbHits}} )
										</div>
									</ais-stats>
								</div>
								<ul>
									<li v-for="item in items" :key="'category_' + item.id" class="py-1">
										<a :href="item.url" class="link-hover">
											<ais-highlight :hit="item" attribute="title" />
										</a>
									</li>
									<div v-if="items.length == 0" class="no-results">
										Nismo pronašli rezultate
									</div>
								</ul>
							</div>
						</template>
					</ais-hits>
				</ais-index>
				<ul v-show="query.length < 3">
					<li v-for="brand in featuredBrands" :key="brand.id" class="py-1">
						<a :href="brand.url" class="link-hover">
							{{brand.name}}
						</a>
					</li>
				</ul>
			</ais-instant-search>
        </div>
    </div>
</template>

<script>
	import SearchBox from './SearchBox.vue';
	import algoliasearch from 'algoliasearch/lite';

    export default {
  		components: { SearchBox },

		props: {
			productsUrl: {
				type: String,
				required: true
			},

			brandsUrl: {
				type: String,
				required: true
			},

			featuredBrands: {
				type: Array,
				required: false,
				default: []
			}
		},

        data() {
			return {
				query: '',
				showModal: false,
				searchClient: algoliasearch(
					Laravel.algolia_id,
					Laravel.algolia_key
				)
            };
		},
		
		watch: {
			showModal(newVal, oldVal) {
				newVal ? $('body').addClass('modal-open') : $('body').removeClass('modal-open');
			}
		},
		
		created() {
			this.$eventBus.$on('openSearchModal', () => {
				this.showModal = true;
			});

			this.$eventBus.$on('closeSearchModal', () => {
				this.close();
			});
		},

		methods: {
			close() {
				this.showModal = false;
			},

			searchFunction(helper) {
				if(this.query.length > 1) {
					helper.search();
				}
			}
		}
    }
</script>