body {
    font-family: 'Poppins-Regular', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.form-control {
    height: 45px;
    font-size: 16px; 
}

#content {
    width: 100%;
}

.has-error .help-block, 
.has-error .control-label, 
.has-error .radio, 
.has-error .checkbox, 
.has-error .radio-inline, 
.has-error .checkbox-inline, 
.has-error.radio label, 
.has-error.checkbox label, 
.has-error.radio-inline label, 
.has-error.checkbox-inline label {
    color: #d80b15;
}

.has-error .form-control {
    border-color: #d80b15;
}

.has-error .input-group-addon {
    color: #d80b15;
    border-color: #d80b15;
}

.btn-success {
    background-color: $primaryColor;
    border-color: $primaryColor;
}

.btn-success:active, 
.btn-success.active, 
.open > .btn-success.dropdown-toggle {
    background-color: $primaryColor;
    border-color: $primaryColor;
}

.btn-success:hover {
    background-color: $primaryColor;
    border-color: #009b00;
}

.btn-success:focus, .btn-success.focus {
    background-color: $primaryColor;
    border-color: #009b00;
}

.btn-success:active:hover, 
.btn-success:active:focus, 
.btn-success:active.focus, 
.btn-success.active:hover, 
.btn-success.active:focus, 
.btn-success.active.focus, 
.open > .btn-success.dropdown-toggle:hover, 
.open > .btn-success.dropdown-toggle:focus, 
.open > .btn-success.dropdown-toggle.focus {
    background-color: $primaryColor;
    border-color: #009b00;
}

.label-success {
    background-color: $primaryColor;
}

.label-danger {
    background-color: #d80b15;
}

.index-filter {
    @media (min-width: 768px) {
        .form-group {
            padding-right: 20px;
        }
    }

    @media (max-width: 767px) {
        padding-top: 20px;
    }
}

.dz-file-preview {
    display: none;
}

.background-img {
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.table > tbody > tr >td {
    vertical-align: middle;
}