$primaryColor: #009900;
$primaryColorActive: #6cc122;
$goldColor: #ffc107;
$warningColor: #ff9800;
$discountColor: #cbff00;
$red: #EE5365;
$bannerColor: #000000;

$strongFontColor: #333333;
$primaryFontColor: #555555;
$lightFontColor: #999999;

$borderColor: #e5e5e5;
$grayLight: #f7f7f7;