.articles-show {
    img {
        width: 100%;
        height: auto;
    }

    .articles-content {
        color: $primaryFontColor;

        p {
            margin-bottom: 1rem;
        }
    }

    .lead {
        font-size: 24px;
    }

    .related-items {
        .related-item {
            font-size: 20px;

            a {
                color: $primaryColor;
            }
        }
    }
}

.articles-grid {
    .article {
        border-radius: 10px;
        box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.75);
        overflow: hidden;

        h2 {
            color: $primaryFontColor;
            font-size: 24px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
        }

        p {
            color: $primaryFontColor;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 3;
        }
        
        strong {
            color: $primaryFontColor;
        }

        &:hover {
            h2, strong {
                color: $primaryColor;
            }
        }
    }
}