.brands-index {
    .alphabet-list {
        margin-bottom: 25px;
        
        .alphabet-list-li a {
            color: $primaryFontColor;
            font-size: 16px;
            padding: 6px;
            font-weight: bold;
    
            &:hover {
                color: $primaryColor;
            }
        }
    }

    .brand-alphabet-section {
        border-top: 1px solid $borderColor;
        min-height: 110px;
        padding: 30px 0;

        .brand-letter {
            text-align: center;
            font-size: 2.5rem;
        }

        .brand-list {
            li {
                padding-bottom: 10px;
                a {
                    color: $primaryFontColor;
                    font-size: 16px;
    
                    &:hover {
                        color: $primaryColor;
                    }
                }
            }
        }
    }
}