.checkout-page {
    .title {
        font-family: Poppins-Bold;
        font-size: 18px;
        color: $strongFontColor;
        text-transform: uppercase;
    }

    .checkout-content {
        padding-top: 35px;
        padding-bottom: 50px;
        
        @include media-breakpoint-up(lg) {
            padding-top: 50px;
        }
        
        .checkout-header {
            img {
                width: 150px;
                
                @include media-breakpoint-up(md) {
                    width: 200px;
                }
            }

        }

        .collapse-block {
            margin: 10px -15px;
            background-color: $grayLight;

            .label {
                color: $primaryColor;
            }

            .price {
                color: $strongFontColor;
                font-size: 18px;
            }
        }

        .progress-steps {
            margin: 30px 0;
        
            .step {
                .step-name {
                    color: $primaryFontColor;
                }
        
                &.active {
                    .step-name {
                        font-weight: bold;
                        color: $primaryColor;
                    }
                }
            }

            i {
                padding: 0 15px;
                
                @include media-breakpoint-up(md) {
                    padding: 0 30px;
                }
            }
        }

        .in-panel {
            margin-bottom: 15px;

            .custom-radio {
                padding: 0;

                .custom-control-input:checked + .custom-control-label {
                    border: 1px solid $primaryColor;
                }
    
                .custom-control-label {
                    padding: 20px 20px 20px 50px;
                    border: 1px solid $borderColor;
                    display: block;
                    border-radius: 10px;
    
                    &:hover {
                        border-color: $primaryColor;
                    }
    
                    &::after,
                    &::before {
                        top: 50%;
                        left: 1rem;
                        -webkit-transform: translate(0, -50%);
                        -ms-transform: translate(0, -50%);
                        transform: translate(0, -50%);
                    }

                    .fast {
                        background-color: $red;
                        color: #ffffff;
                        padding: 0px 5px;
                        border-radius: 10px;
                        font-size: 14px;
                    }
                }
            }
        }

        .checkout-submit-button {
            width: 100%;

            @include media-breakpoint-up(md) {
                width: auto;
            }
        }
    }

    .checkout-cart-sidebar {
        background-color: $grayLight;
        padding: 10px 0 20px;
        
        @include media-breakpoint-up(md) {
            padding: 50px 30px;
        }

        .checkout-cart-content {
            width: 100%;
            flex-grow: 1;
            align-content: space-between;
        }

        .checkout-cart-wrapitem {
            flex-grow: 1;
            max-height: 600px;
            overflow: auto;
        }

        .header-cart-item {
            margin-bottom: 30px;
        }

        .checkout-cart-item-img {
            width: 65px;
            position: relative;
            margin-right: 20px;
        }

        .checkout-cart-item-img img {
            width: 100%;
            border-radius: 10px;
            border: 1px solid $borderColor;
        }

        .checkout-cart-item-text {
            width: calc(100% - 85px);
        }

        .checkout-cart-item-name {
            display: block;
            font-size: 14px;
            color: $strongFontColor;
            line-height: 1.3;
            font-weight: bold;

            &:hover {
                color: $primaryColor;
            }
        }

        .checkout-cart-item-info {
            display: block;
            font-size: 14px;
            color: $lightFontColor;
            line-height: 1.5;
        }

        .checkout-cart-total {
            font-size: 18px;
            color: $strongFontColor;
            line-height: 1.3;

            &.total-price {
                border-top: 1px dashed #d9d9d9;
            }
        }
    }
}

.cart-page {
    .table-shopping-cart {
        margin: 30px 0;        
    }

    .discount {
        padding: 0px 10px;
        text-decoration: line-through;
    }
    
    .discount-price {
        background: $primaryColor;
        color: #ffffff;
        border-radius: 23px;
        padding: 0px 10px;
        text-align: center;
    }

    .table-row {
        display: table;
        table-layout: fixed;
        padding: 20px 0;
        width: 100%;
        border-top: 1px solid $borderColor;

        a {
            color: $primaryFontColor;
        }
    }

    .column-1,
    .column-2 {
        display: table-cell;
        vertical-align: middle;
    }

    .column-3,
    .column-4,
    .column-5,
    .column-6 {
        text-align: right;
        
        @include media-breakpoint-up(md) {
            text-align: center;
            display: table-cell;
            vertical-align: middle;
        }
    }

    .column-1 {
        width: 65px;
        min-width: 65px;
        text-align: center;
    }

    .column-2 {
        width: 50%;
        
        @include media-breakpoint-up(sm) {
            width: 60%;
        }

        @include media-breakpoint-up(md) {
            width: 40%;
        }
    }

    .column-4 {
        @include media-breakpoint-down(sm) {
            display: flex;
            justify-content: flex-end;
            margin-top: 5px;
        }
    }

    .column-5 {
        @include media-breakpoint-down(sm) {
            margin-top: 5px;
        }
    }

    .column-6 {
        @include media-breakpoint-down(sm) {
            margin-top: 5px;
        }

        @include media-breakpoint-up(md) {
            width: 20px;
        }
    }

    .wrap-num-product.small {
        width: 90px;
        height: 30px;
        
        @include media-breakpoint-up(md) {
            margin: 0 auto;
        }

        .btn-num-product-up, 
        .btn-num-product-down {
            width: 30px;
        }

        .num-product {
            width: calc(100% - 60px);
        }
    }

    .total-price {
        font-size: 20px;
    }

    .free-shipping-success,
    .free-shipping-warning {
        @include media-breakpoint-up(md) {
            width: 50%;
        }
    }

    .checkout-button {
        width: 100%;
        
        @include media-breakpoint-up(md) {
            width: 50%;
        }
    }
}