[v-cloak] {
	display: none !important;
};

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.no-scroll {
	overflow: hidden !important;
}

mark {
	padding: 0;
	border-radius: 5px;
	color: $primaryColor;
	background-color: #dfffdf;
}

.alert {
	border-radius: 10px;

	&.alert-light {
		border-color: $borderColor;
		color: $primaryFontColor;
		background-color: #ffffff;
	}
}

.link {
	cursor: pointer;
	color: $primaryColor;

	&:hover {
		color: $primaryColorActive;
	}
}

.link-text {
	color: $primaryFontColor;

	&:hover {
		color: $primaryFontColor;
	}
}

.link-hover {
	color: $primaryFontColor;

	&:hover {
		color: $primaryColor;
	}
}

.form-group {
	label.placeholder {
		visibility: hidden;
	}
}

.page-item.active .page-link {
	background-color: $primaryColor;
    border-color: $primaryColor;
}

.page-link {
	color: $primaryFontColor;
	
	&:hover {
		color: $primaryFontColor;
	}

	&:focus {
		box-shadow: none;
	}
}

.line-clamp-1 {
	overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.line-clamp-2 {
	overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

a.btn {
	line-height: 2;
}

.btn {
	border-radius: 23px;
	height: 45px;
	min-width: 150px;
	font-weight: bold;
	padding: 0.375rem 1.75rem;

	&:focus {
		box-shadow: none;
	}

	&:not(:disabled):not(.disabled):active:focus {
		box-shadow: none;
	}

	&.btn-sm {
		height: 37px;
		padding: 0.25rem 0.5rem;
	}

	&.btn-primary {
		background-color: $primaryColor;
		border-color: $primaryColor;

		&:hover {
			background-color: $primaryColorActive;
			border-color: $primaryColorActive;
		}

		&:not(:disabled):not(.disabled):active {
			background-color: $primaryColorActive;
			border-color: $primaryColorActive;
		}
	}

	&.btn-outline-primary {
		border-color: $primaryColor;
		color: $primaryColor;
		background-color: #ffffff;
		
		&:hover {
			color: #ffffff;
			background-color: $primaryColor;
		}

		&:hover {
			background-color: $primaryColor;
			border-color: $primaryColor;
		}

		&:not(:disabled):not(.disabled):active {
			background-color: $primaryColor;
			border-color: $primaryColor;
		}
	}
}

.popular-badge {
	position: absolute;
	top: 0;
	left: 0;
	background-color: $bannerColor;
	color: #ffffff;
	font-weight: bold;
	font-size: 12px;
	padding: 0px 10px;
	border-top-left-radius: 8px;
	border-bottom-right-radius: 8px;

	&.big {
		font-size: 14px;

		@include media-breakpoint-up(lg) { 
			font-size: 16px;
			padding: 5px 10px;
        }
	}
}

.photo-badge-discount {
	position: absolute;
    top: 0px;
    right: 0px;
    color: #ffffff;
    background: #000000;
    padding: 5px 0;
    width: 50px;
    height: 30px;
    text-align: center;
    margin: 0px 0;
    font-weight: bold;
    font-size: 14px;
	border-bottom-left-radius: 8px;
	border-top-right-radius: 8px;

	&.big {
		padding: 12px 0;
		width: 70px;
		height: 50px;
		font-size: 18px;
	}
}

.photo-badge-bottom {
	z-index: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	.not-available {
		color: #ffffff;
		font-weight: bold;
		text-align: center;
		font-size: 12px;
		padding: 0px 10px;
		background-color: $lightFontColor;
		border-top-right-radius: 8px;
    	border-bottom-left-radius: 8px;
	}

	.free-shipping {
		color: #ffffff;
		font-weight: bold;
		text-align: center;
		font-size: 12px;
		padding: 0px 10px;
		background: $primaryColor;
		border-top-right-radius: 8px;
    	border-bottom-left-radius: 8px;
	}

	.big {
		font-size: 14px;

		@include media-breakpoint-up(lg) { 
			font-size: 16px;
			padding: 5px 10px;
        }
	}
}

.free-shipping-success {
	color: $primaryColor;
	background-color: rgba(0, 153, 0, 0.1);
	font-family: 'Poppins-SemiBold';
	text-align: center;
	width: 100%;
	margin-top: 20px;
	font-size: 16px;
	border: 1px solid $primaryColor;
	padding: 10px;
    border-radius: 10px;
}

.free-shipping-warning {
	color: $warningColor;
	background-color: rgba(255, 152, 0, 0.1);
	font-family: 'Poppins-SemiBold';
	text-align: center;
	width: 100%;
	margin-top: 20px;
	font-size: 16px;
	border: 1px solid $warningColor;
	padding: 10px;
    border-radius: 10px;
}

.cookie-consent {
	position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $primaryColor;
	padding: 10px 0;
	color: #ffffff;
	font-size: 12px;

	a {
		color: #ffffff;
		text-decoration: underline;
	}

	.cookie-consent__message {
		max-width: 900px;
	}

	.cookie-consent__agree {
		&:hover {
			background-color: #ffffff;
			color: $primaryColor;
		}
	}
}

.breadcrumb-header {
	overflow: hidden;
	z-index: 2;
	background-color: $grayLight;

	.container-xl {
		z-index: 1;

		&.big {
			padding: 25px 15px;
	
			@include media-breakpoint-up(lg) {
				padding: 60px 15px;
			}
		}

		h1 {
			z-index: 1;
			color: $primaryFontColor;
			font-size: 2rem;

			@include media-breakpoint-up(lg) {
				font-size: 3rem;
			}
		}
	}

	.decoration {
		bottom: -0.8rem;
    	font-size: 6rem;
		color: #9999990d;
		font-weight: bold;
		left: 0;
		line-height: 1;
		position: absolute;
		-webkit-user-select: none;
		user-select: none;
		white-space: pre;
		width: auto;
		z-index: 0;

		@include media-breakpoint-up(lg) {
			bottom: -1.8rem;
			font-size: 13rem;
		}
	}

	.bread-crumb {
		z-index: 1;		
		overflow: hidden;

		li {
			white-space: nowrap;
		}

		a, i {
			color: $lightFontColor;
		}
	
		a:hover {
			color: $primaryColor;
		}
	}
}

.collapse-block {
	border-top: 1px solid $borderColor;
	border-bottom: 1px solid $borderColor;

	& + .collapse-block {
		margin-top: -1px;
	}

	.collapsed-handle {
		@include media-breakpoint-up(lg) {
			&:hover {
				cursor: pointer;
				background-color: $grayLight;
			}
		}

		&:not(.collapsed) {
			.fa-chevron-down {
				display: none;
			}
		}

		&.collapsed {
			.fa-chevron-up {
				display: none;
			}
		}

		position: relative;
		color: $primaryFontColor;
	
		i.right {
			position: absolute;
			right: 0;
			top: 50%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%);
		}
	}

}

.banner {
	font-size: 13px;
	text-align: center;
	color: #ffffff;
	background: $bannerColor;
	min-height: 25px;
	line-height: 25px;

	@include media-breakpoint-up(lg) {
        height: 30px;
		line-height: 30px;
    }
}

.strong-font-color {
    color: $strongFontColor;
}

.input-field {
	width: 100%;
	height: 50px;
	padding: 6px 12px;
	border: 1px solid $borderColor;
    border-radius: 10px;

	&.invalid {
		border: 1px solid #dc3545;
	}
}

.text-field {
	width: 100%;
	min-height: 50px;
	padding: 12px;
	border: 1px solid $borderColor;
    border-radius: 10px;

	&.invalid {
		border: 1px solid #dc3545;
	}
}