.hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;

    .hamburger-box {
        width: 27px;
        height: 24px;
        display: inline-block;
        position: relative;

        .hamburger-inner {
            display: block;
            top: 50%;
            transform: translateY(-50%);
        }

        .hamburger-inner, 
        .hamburger-inner::before, 
        .hamburger-inner::after {
            width: 27px;
            height: 3px;
            background-color: $primaryFontColor;
            border-radius: 4px;
            position: absolute;
            transition-property: transform;
            transition-duration: 0.1s;
            transition-timing-function: ease;
        }

        .hamburger-inner::before, 
        .hamburger-inner::after {
            content: "";
            display: block;
        }

        .hamburger-inner::before {
            top: -7px;
        }
        
        .hamburger-inner::after {
            bottom: -7px;
        }
    }

    /* * Squeeze */
    &.hamburger--squeeze {
        .hamburger-inner {
            transition-duration: 0.1s;
            transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
    
        .hamburger-inner::before {
            transition: top 0.1s 0.1s ease, opacity 0.1s ease;
        }
    
        .hamburger-inner::after {
            transition: bottom 0.1s 0.1s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
    
        &.is-active .hamburger-inner {
            transform: rotate(45deg);
            transition-delay: 0.1s;
            transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
    
        &.is-active .hamburger-inner::before {
            top: 0;
            opacity: 0;
            transition: top 0.1s ease, opacity 0.1s 0.1s ease;
        }
    
        &.is-active .hamburger-inner::after {
            bottom: 0;
            transform: rotate(-90deg);
            transition: bottom 0.1s ease, transform 0.1s 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
    }
}

.jquery-accordion-menu {
    background-color: #ffffff;
    display: none;
    border-bottom: 1px solid $borderColor;

    .nav {
        &-drill {
            z-index: 100;
            width: 100%;
            background-color: #ffffff;
            transition: 0.45s;
        }
        
        &-items {
            flex: 0 0 100%;
            position: relative;
            height: calc(100vh - 75px);
            overflow-y: auto;
            overflow-x: hidden;

            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
    
            /* Hide scrollbar for Chrome, Safari and Opera */
            &::-webkit-scrollbar {
                display: none;
            }

            .nav-item:first-child {
                padding-top: 10px;
            }

            .nav-item:last-child {
                padding-bottom: 80px;
            }
        }
        
        &-link {
            cursor: pointer;
            display: block;
            color: $primaryFontColor;
            font-size: 17px;
            line-height: 1.5em;
            font-weight: 300;
            padding: 0.7rem 1rem 0.7rem 37px;

            &:hover {
                color: $primaryColor;
            }

            &.first-level {
                padding: 0.7rem 1rem;
            }
        }
        
        &-expand {
            &-content {
                overflow-y: auto;
                width: 100%;
                transform: translateX(100%);
                transition: 0.3s;
                visibility: hidden;
                background-color: #ffffff;
    
                &.nav-level-2 {
                    position: fixed;
                    top: 74px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }

                &.nav-level-3 {
                    position: fixed;
                    top: 0px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }

                .nav-back-link {
                    display: flex;
                    align-items: center;
                    padding: 0.7rem 1rem;
                }
            }
            
            &-link {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            
            &.active {
                > .nav-expand-content {
                    transform: translateX(0);
                    visibility: visible;
                }
            }
        }
    }
}