.wrap-header-cart {
    position: fixed;
    z-index: 110;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.0);
    visibility: hidden;
    
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;  
    transition: all 0.4s;

    .header-cart {
        @include media-breakpoint-down(sm) {
            padding: 15px;
            padding-bottom: 50px;
        }

        position: fixed;
        z-index: 110;
        width: 390px;
        height: 100vh;
        top: 0;
        right: -400px;
        background-color: #ffffff;
        padding: 25px;
        max-width: calc(100% - 30px);
        
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.34;  
        transition: all 0.4s;
        
        box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
        -moz-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
        -webkit-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
        -o-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
        -ms-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);

        .header-cart-title {
            width: 100%;
            padding-bottom: 10px;
            border-bottom: 1px solid $borderColor;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;

            .title {
                font-family: Poppins-Bold;
                font-size: 18px;
                color: $strongFontColor;
                text-transform: uppercase;
            }

            .close-icon {
                cursor: pointer;
                line-height: 1.0;
                color: $strongFontColor;

                &:hover {
                    color: $primaryColor;
                }
            }

            .new-item-added-alert {
                width: 100%;
                color: $primaryColor;
                padding: 5px 10px;
                text-align: center;
                border: 1px solid $primaryColor;
                border-radius: 10px;
                margin-top: 10px;
                font-weight: bold;
            }
        }

        .header-cart-content {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-grow: 1;
            align-content: space-between;

            .header-cart-wrapitem {
                @include media-breakpoint-down(sm) { 
                    max-height: calc(100vh - 315px);
                }

                flex-grow: 1;
                max-height: calc(100vh - 325px);
                overflow: auto;

                .header-cart-item {
                    &:not(:first-child) {
                        border-top: 1px solid $borderColor;
                    }

                    .header-cart-item-img {
                        width: 60px;
                        position: relative;
                        margin-right: 20px;
                
                        img {
                            width: 100%;
                        }
                    }

                    .header-cart-item-text {
                        position: relative;
                        padding-right: 15px;
                        width: calc(100% - 80px);

                        .remove-product {
                            position: absolute;
                            top: 0;
                            right: 0;
                            cursor: pointer;

                            &:hover {
                                color: $primaryColor;
                            }
                        }
                    }

                    .header-cart-item-name {
                        display: block;
                        font-size: 14px;
                        color: $strongFontColor;
                        line-height: 1.3;

                        &:hover {
                            color: $primaryColor;
                        }
                    }
                    
                    .header-cart-item-info {
                        display: block;
                        font-size: 14px;
                        color: $lightFontColor;
                        line-height: 1.5;
                    }
                }
            }

            .header-cart-total {
                @include media-breakpoint-down(sm) { 
                    padding: 15px 0;
                }

                font-size: 18px;
                color: $strongFontColor;
                line-height: 1.3;
                padding: 20px 0;
            }

            .free-shipping-success,
            .free-shipping-warning {
                font-size: 14px;
            }

            .header-cart-buttons {
                .btn {
                    @include media-breakpoint-down(sm) { 
                        height: 37px;
                        line-height: 1.5;
                    }
                }
            }
        }
    }

    &.show-header-cart {
        visibility: visible;
        background-color: rgba(0,0,0,0.6);

        .header-cart {
            right: 0;
        }
    }
}
  