.homepage {
    .hero-container {
        @include media-breakpoint-down(md) {
            padding: 0;
        }

        .VueCarousel-wrapper {
            @include media-breakpoint-up(lg) {
                border-radius: 10px; 
                overflow: hidden;
            }
        }

        .VueCarousel-navigation {
            .VueCarousel-navigation-button {
                padding: 0 !important;
                height: 40px;
                width: 40px;
                top: 35%;
                background-color: #ffffff;
                border-radius: 50%;
                border: 1px solid $lightFontColor;

                &:focus {
                    outline: none;
                }
                
                @include media-breakpoint-up(md) {
                    top: 50%;
                }
            }

            .VueCarousel-navigation-prev {
                left: 40px;

                @include media-breakpoint-up(md) { 
                    left: 50px;
                }
    
                @include media-breakpoint-up(xl) { 
                    left: 20px;
                }

                padding-right: 2px !important;
            }
            
            .VueCarousel-navigation-next {
                right: 40px;

                @include media-breakpoint-up(md) { 
                    right: 50px;
                }
                
                @include media-breakpoint-up(xl) { 
                    right: 20px;
                }

                padding-left: 2px !important;
            }
        }
    }

    .hero {
        @include media-breakpoint-up(lg) {
            border-radius: 10px; 
            overflow: hidden;
        }

        .hero-image {
            width: 100%;
            height: auto;

            @include media-breakpoint-up(md) {
                width: 50%;
            }

            @include media-breakpoint-up(xl) {
                height: 400px;
            }
        }

        .hero-content {
            background-color: #ffffff;
            padding: 15px;
            text-align: center;

            @include media-breakpoint-up(md) {
                padding: 25px 0 25px 60px;
                width: 50%;
                text-align: left;
            }

            h1 {
                font-size: 30px;
                font-weight: bold;

                @include media-breakpoint-up(lg) {
                    font-size: 40px;
                }
            }

            .hero-description {
                font-size: 18px;
                white-space: pre-wrap;
            }
        }
    }

    .shop-by-skin-type.horizontal-slider-items {
        grid-auto-columns: minmax(170px, 16.66%);
 
        img {
            width: 170px;
            border-radius: 10px;
        }
    }

    .app-banner-container {
        margin: 100px auto 50px auto;
        
        @include media-breakpoint-up(lg) {
            margin: 100px auto;
        }

        .app-banner {
            background: rgb(0,153,0);
            background: linear-gradient(120deg, rgba(0,153,0,1) 0%, rgba(255,255,255,1) 20%, rgba(0,153,0,1) 100%);
            border-radius: 10px;
            color: #000000;
    
            @include media-breakpoint-up(md) {
                height: 250px;
            }

            @include media-breakpoint-up(lg) {
                height: 300px;
            }
    
            .app-photo {
                width: 250px;
                transform: translate(30px, 0px);
                margin-top: -100px;
    
                @include media-breakpoint-up(md) {
                    width: 300px;
                    margin-top: 0;
                    transform: translate(0px, 0px);
                }
                
                @include media-breakpoint-up(lg) {
                    width: 400px;
                }
            }
    
            .content {
                text-align: center;
    
                @include media-breakpoint-up(md) {
                    text-align: left;
                }
    
                .title {
                    font-weight: bold;
                    font-size: 24px;
                }
            }
        }
    }
}