body {
	font-family: Poppins-Regular;
}

footer {
    overflow: hidden;

    .collapse-block {
        border-top: none;

        @include media-breakpoint-up(lg) {
            border: none;

            & + .collapse-block {
                margin-top: 0;
            }
        }
    }

    .need-help {
        font-size: 24px;

        .phone {
            a {
                color: $primaryColor;
            }
        }

        .mail {
            font-size: 16px;
        }

        a {
            color: $primaryFontColor;

            &:hover {
                color: $primaryColor;
            }
        }
    }

    .footer-content {
        background-color: $grayLight;

        ul {
            li {
                padding-bottom: 10px;
            }
        }
    
        a {
            color: $primaryFontColor;

            &:hover {
                color: $primaryColor;
            }
        }

        @include media-breakpoint-up(lg) {
            .collapse.dont-collapse-lg {
              display: block;
              height: auto !important;
              visibility: visible;
            }
        }

        .footer-title {
            font-size: 18px;
            text-transform: uppercase;
        }

        .social-profiles {
            i {
                font-size: 24px;
            }
        }

        .shipping-partners {
            @include media-breakpoint-down(md) {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        
        .footer-notes {
            font-size: 12px;
            padding-top: 5px;
        }
    }
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 25px;
    z-index: 6;
    background-color: $primaryColor;

    @include media-breakpoint-up(lg) {
        position: static;
        height: 30px;
    }

    .content-topbar {
        @include media-breakpoint-up(lg) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &.warning {
            @include media-breakpoint-down(md) {
                background-color: $warningColor;
            }
        }

        .left-top-bar {
            font-size: 13px;
            line-height: 25px;
            color: #ffffff;
            text-align: center;

            @include media-breakpoint-up(lg) {
                text-align: left;
            }
        }
        
        .right-top-bar a {
            font-size: 14px;
            line-height: 25px;
            height: 100%;
            color: #ffffff;
    
            &:hover {
                color: $primaryColorActive;
            }
        }
    }
}

.header-wrap {
    position: relative;

    @include media-breakpoint-down(md) { 
        padding: 0;
        height: 75px;
    }

    .header {
        position: relative;
        line-height: 1;
        padding-top: 1rem;
        padding-bottom: 1rem;
        background-color: #ffffff;
        -webkit-box-shadow: 0 0 12px -6px rgba(0,0,0,.75);
        box-shadow: 0 0 12px -6px rgba(0,0,0,.75);

        @include media-breakpoint-up(lg) { 
            box-shadow: none;
        }
        
        @include media-breakpoint-down(md) { 
            padding: 10px 15px;
            position: fixed;
            top: 25px;
            z-index: 5;
            height: 50px;
        }

        .search-field {
            position: relative;

            input {
                color: $primaryFontColor;
                background: $grayLight;
                height: 40px;
                border-radius: 23px;
            }

            i {
                font-size: 20px;
                position: absolute;
                left: 20px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    
        .header-logo  {
            @include media-breakpoint-down(lg) {
                text-align: center;
                padding: 0;
            }

            img {
                width: 150px;
        
                @include media-breakpoint-up(lg) { 
                    width: 200px;
                }
            }
        }

        .icon-header-item {
            cursor: pointer;
            position: relative;
            line-height: 1;
            color: $primaryFontColor;

            &:hover {
                color: $primaryColor;
            }

            .icon-header-search {
                font-size: 22px;
            }

            .icon-header-noti {
                font-size: 26px;

                 .count {
                    font-family: Poppins-Bold;
                    font-size: 12px;
                    color: #ffffff;
                    line-height: 15px;
                    text-align: center;
                
                    display: block;
                    position: absolute;
                    top: -12px;
                    right: -8px;
                    min-width: 20px;
                    height: 20px;
                    padding: 3px 0;
                    background-color: $primaryColor;
                    border-radius: 50%;
                }
            }

            .shipping-tooltip {
                position: absolute;
                top: 100%;
                right: 0;
                background-color: #ffffff;
                color: $primaryColor;
                border: 1px solid $primaryColor;
                padding: 5px 10px;
                border-radius: 5px;
                margin-top: 10px;
                font-size: 12px;
                text-align: center;
                font-family: 'Poppins-SemiBold';

                &:after {
                    width: 10px;
                    height: 10px;
                    content: "";
                    right: 4px;
                    top: -10px;
                    position: absolute;
                    display: inline-block;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    border-bottom-color: $primaryColor;                    
                }

                &.total-price {
                    white-space: nowrap;
                    font-size: 15px;
                }
            }
        }

        .mobile-menu {
            position: fixed;
            top: 65px;
            left: 0;
            right: 0;
            z-index: 101;
        
            @include media-breakpoint-up(lg) { 
                display: none;
            }

            .jquery-accordion-menu {
                padding-top: 10px;
            }
        }
    }

    .nav {
        position: relative;

        .nav-link {
            font-family: Poppins-SemiBold;
            color: $primaryFontColor;
            cursor: pointer;
    
            &.active,
            &:hover {
                color: $primaryColor;
                border-bottom: 2px solid $primaryColor;
            }
        }

        .dropdown {
            position: static;

            &.show {
                .nav-link {
                    color: $primaryColor;
                }
            }

            &:hover .dropdown-menu {
                display: block;
            }

            .dropdown-toggle {
                border: 2px solid $primaryColor;
                border-radius: 23px;
                padding-left: 37px;
                padding-right: 37px;
            }

            .dropdown-menu {
                top: 100% !important;
                right: 0 !important;
                left: 0 !important;
                transform: none !important;

                border: none;
                border-radius: 0;
                background-color: transparent;
                margin: 0;
                padding: 0;

                & > ul {
                    background-color: #ffffff;
                    width: 310px;
                    box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.1);

                    li {
                        padding: 5px 0;

                        a {
                            color: $primaryFontColor;

                            &:active {
                                background-color: $grayLight;
                            }

                            &:hover {
                                background-color: $grayLight;
                            }
                        }
                    }

                    li:hover  {
                        background-color: $grayLight;

                        .submenu {
                            display: flex;
                        }
                    }
                }

                .submenu {
                    display: none;
                    position: absolute;
                    top: 0 !important;
                    left: 310px !important;
                    right: 0 !important;
                    background-color: $grayLight;
                    min-height: 100%;
                    padding-left: 1.5rem;
                    padding-top: 5px;
                    box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.1);

                    ul {
                        width: 175px;
                    }

                    a {
                        color: $primaryFontColor;

                        &:hover {
                            color: $primaryColor;
                        }
                    }
                }
            }
        }
    }
}
  