@font-face {
  font-family: Poppins-Regular;
  src: url('/fonts/Poppins-Regular.ttf');
  font-display: swap;
}

// @font-face {
//   font-family: Poppins-Light;
//   src: url('/fonts/Poppins-Light.ttf'); 
//   font-display: swap;
// }

// @font-face {
//   font-family: Poppins-ExtraLight;
//   src: url('/fonts/Poppins-ExtraLight.ttf'); 
//   font-display: swap;
// }

// @font-face {
//   font-family: Poppins-Medium;
//   src: url('/fonts/Poppins-Medium.ttf'); 
//   font-display: swap;
// }

// @font-face {
//   font-family: Poppins-Italic;
//   src: url('/fonts/Poppins-Italic.ttf'); 
//   font-display: swap;
// }

@font-face {
  font-family: Poppins-Bold;
  src: url('/fonts/Poppins-Bold.ttf'); 
  font-display: swap;
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('/fonts/Poppins-SemiBold.ttf'); 
  font-display: swap;
}

@keyframes animate-pulse {
  0%{
      box-shadow: 0 0 0 0 rgba(0,153,0,0.7),  0 0 0 0 rgba(0,153,0,0.7);
  }
  100%{
      box-shadow: 0 0 0 8px rgba(0,153,0,0.0),  0 0 0 0 rgba(0,153,0,0.7);
  }
}

/*//////////////////////////////////////////////////////////////////
[ Redactor styles ]*/
.redactor-styles {
  blockquote {
    padding-left: 24px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    font-style: italic;
  }

  h1,h2,h3,h4,h5,h6,p {
    margin-bottom: 12px;
  }

  ul,ol {
    margin-bottom: 16px;
    margin-left: 24px;
  }

  ul li {
    list-style-type: disc;
  }

  ol li {
    list-style-type: decimal;
  }
}

/*//////////////////////////////////////////////////////////////////
[ BUTTON BACK TO TOP ]*/
.btn-back-to-top {
  display: none;
  position: fixed;
  width: 40px;
  height: 38px;
  bottom: 0px;
  right: 40px;
  background-color: $primaryColor;
  opacity: 0.5;
  justify-content: center;
  align-items: center;
  z-index: 100;
  cursor: pointer;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

.symbol-btn-back-to-top {
  font-size: 25px;
  color: white;
  line-height: 1em;
}

.btn-back-to-top:hover {
  opacity: 1;
  background-color: $primaryColor;
}

@include media-breakpoint-down(sm) { 
  .btn-back-to-top {
    bottom: 0px;
    right: 15px;
  }
}

/*//////////////////////////////////////////////////////////////////
[ Num Product ]*/
.wrap-num-product {
  width: 140px;
  height: 45px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  overflow: hidden;
  display: flex;
}

.btn-num-product-up,
.btn-num-product-down {
  width: 45px;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    border-color: $primaryColor;
    background-color: $primaryColor;
    color: #fff;
  }
}

.num-product {
  width: calc(100% - 90px);
  height: 100%;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  background-color: $grayLight;
  display: flex;
  align-items: center;
  justify-content: center;
}

input.num-product {
  -moz-appearance: textfield;
  appearance: none;
  -webkit-appearance: none;
}

input.num-product::-webkit-outer-spin-button,
input.num-product::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; 
}

.show-more-wrapper {
  overflow: hidden;
  -webkit-transition: height 0.35s; 
  -moz-transition: height 0.35s;  
  -ms-transition: height 0.35s; 
  -o-transition: height 0.35s; 
  transition: height 0.35s;

  &.collapsed {
      overflow: hidden;
      position: relative;

      .overlay {
          height: 50px;
      }
  }

  .overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 0px;
      -webkit-transition: height 0.35s; 
      -moz-transition: height 0.35s;  
      -ms-transition: height 0.35s; 
      -o-transition: height 0.35s; 
      transition: height 0.35s;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #ffffff);
  }
}