/*//////////////////////////////////////////////////////////////////
[ Modal1 ]*/
.wrap-modal1 {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 900;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  
    visibility: hidden;
    opacity: 0;
}

.overlay-modal1 {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.8;
}

.show-modal1 {
    visibility: visible;
    opacity: 1;
}

.viva-modal {
    .header {
        padding-bottom: 10px;

        .title {
            font-family: Poppins-Bold;
            font-size: 18px;
            color: #333333;
        }
    }

    .close-icon {
        cursor: pointer;
        line-height: 1.0;
        color: $strongFontColor;

        &:hover {
            color: $primaryColor;
        }
    }

    .modal-body {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: auto;
        padding: 15px;
        background-color: #ffffff;
    }

    @include media-breakpoint-up(md) { 
        .modal-body {
            border-radius: 10px;
            top: 30px;
            bottom: 30px;
            padding: 60px 100px;
        }
    }
}