.products-index {
    .brand-description {
        @include media-breakpoint-down(sm) { 
            font-size: 16px;
        }

        font-size: 20px;
        text-align: center;
    }

    .mobile-categories-wrap {
        position: relative;

        .mobile-categories {
            margin: 0 -15px;
            padding: 0 15px;
            overflow-x: auto;
            white-space: nowrap;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
    
            /* Hide scrollbar for Chrome, Safari and Opera */
            &::-webkit-scrollbar {
                display: none;
            }
    
            &:after {
                content: "";
                background: linear-gradient(90deg,hsla(0,0%,100%,0) 0,#fff);
                position: absolute;
                top: 0;
                right: -15px;
                width: 4rem;
                height: 100%;
            }
    
            .back {
                position: relative;
                width: 37px;
                height: 37px;
                min-width: auto;
                border-radius: 50%;
                padding: 0px;
    
                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    padding-right: 2px;
                }
            }
        }
    }

    .product-filters {
        a {
            color: $primaryFontColor;

            &:hover {
                color: $primaryColor;
            }
        }

        .categories {
            span {
                color: $primaryColor;
            }

            ul {
                padding-top: 10px;

                li {
                    padding-bottom: 10px;
                }
            }
        }
    }

    .products-grid {
        .product-wrap {
            padding-bottom: 80px;
        }

        .product {
            .image-wrap {
                display: block;
                overflow: hidden;
                position: relative;

                .img {
                    margin: 0 auto;

                    @include media-breakpoint-up(md) { 
                        max-width: 250px;
                    }

                    img {
                        width: 100%;
                        height: auto;
                        -webkit-transition: transform 0.9s ease;
                        -webkit-transition: -webkit-transform 0.9s ease;
                        transition: -webkit-transform 0.9s ease;
                        transition: transform 0.9s ease;
                        transition: transform 0.9s ease, -webkit-transform 0.9s ease;
                    }
                }
            }

            .brand {
                height: 22px;
                color: $primaryFontColor;
            }

            .line {
                margin: 10px 0px 5px 0;
            }

            .title {
                color: $strongFontColor;
                font-weight: bold;
                font-size: 16px;
                height: 45px;
                overflow: hidden;
                line-height: 24px;
            }

            .package-description {
                height: 22px;
                color: $primaryFontColor;;
            }

            .price-description {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap-reverse;
                font-family: Poppins-Bold;
                font-size: 24px;
                letter-spacing: 1px;
                color: $strongFontColor;
                font-weight: bold;

                .price {
                    &.discount {
                        text-decoration: line-through;
                        font-size: 16px;
                    }
                }
            
                .discount-price {
                    color: $primaryColor;
                }
            }

            &:hover {
                .image-wrap {
                    img {
                        -webkit-transform: scale(1.1);
                        transform: scale(1.1);
                    }
                }

                .brand,
                .title,
                .package-description {
                    color: $primaryColor;
                }
            }
        }
    }
}

.products-show {
    padding-bottom: 50px;

    @include media-breakpoint-up(lg) {
        margin-top: 50px;
    }

    .image-col {
        @include media-breakpoint-down(md) {
            padding: 0;
        }
    }

    .image-wrap {
        max-width: 500px;
        margin: 0 auto;
        overflow: hidden;
        z-index: unset;

        @include media-breakpoint-down(md) {
            position: relative;
            top: unset;
        }

        img {
            width: 100%;
            height: auto;
        }

        .vh--message {
            bottom: 5px;
            right: 5px;
            border-radius: 50%;
            padding: 0;
            font-size: 18px;
            cursor: pointer;
            height: 35px;
            width: 35px;
        }

        .vh--close {
            height: 35px;
            width: 35px;
        }
    }

    .package-description {
        text-align: center;
        font-size: 20px;
        line-height: 30px;

        a {
            color: $primaryFontColor;;
            cursor: pointer;

            &:hover {
                color: $primaryColor;
            }
        }
    }

    .package-description {
        padding-top: 10px;
        display: block;
        font-weight: normal;
        color: $primaryFontColor;
    }

    .product-title {
        @include media-breakpoint-down(sm) { 
            font-size: 28px;
            margin-top: 1rem;
        }

        text-align: center;
        font-size: 34px;
        font-weight: bold;
        color: $strongFontColor;
        line-height: 1.3;
    }

    .price-description {
        font-family: Poppins-Bold;
        letter-spacing: 1px;
        color: $strongFontColor;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 6px;

        .discount-price {
            color: $primaryColor;
            border-radius: 23px;
            padding: 5px 10px;
            border: 2px solid $primaryColor;
            margin-left: 20px;
        }

        &:not(.discount) {
            .price-title {
                padding-right: 20px;
                font-size: 20px;
                display: inline-block;
            }

            .price {
                color: $primaryColor;
                border-radius: 23px;
                padding: 5px 10px;
                border: 2px solid $primaryColor;
            }
        }

        &.discount {
            .price-title {
                display: block;
                font-size: 20px;
                padding-bottom: 20px;
            }

            .price {
                font-size: 24px;
                text-decoration: line-through;
            }
        }
    }

    .wrap-num-product {
        @media (max-width: 382px) {
            margin-bottom: 15px;
        }

        margin: 0 20px;
    }

    .collapse-block {
        h2 {
            font-size: 16px;
            text-align: left;
        }

        i.right {
            right: 16px;
        }

        ul {
            list-style-type: disc;
            margin-left: 20px;
            
            li {
                list-style-type: disc;
            }
        }
    }

    .back-to-stock-alert-form {
        border-radius: 10px;
        padding: 15px;
        border: 1px solid $borderColor;
    }

    .add-to-cart-info {
        .variant {
            label {
                border: 1px solid #e6e6e6; 
                border-radius: 3px;

                &.disabled {
                    color: $borderColor;
                    position: relative;

                    &::after {
                        background-image: url('/images/icons/na.png');
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-position: center center;
                        background-size: 100% 100%;
                        border-radius: 3px;
                        overflow: hidden;
                        opacity: 0.1;
                    }
                }
                
                &:not(.disabled) {
                    cursor: pointer;                    

                    &:hover {
                        border: 1px solid $primaryColor; 
                    }
                }
            }

            input:checked + label {
                border: 1px solid $primaryColor;
                background-color: $primaryColor;
                color: #ffffff;
            }
        }
    }
}

.shipping-info {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid $borderColor;

    &.pulse {
        animation: animate-pulse 1s linear infinite;
        border: none;
    }

    .shipping-price {
        font-weight: bold;
        color: $primaryColor;
    }

    .fast {
        background-color: $red;
        color: #ffffff;
        padding: 0px 5px;
        border-radius: 10px;
        font-size: 14px;
    }
}

.products-carousel {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: $grayLight;

    .VueCarousel {
        margin-left: -15px;
        margin-right: -15px;

        @media (min-width: 1200px) {
            margin: 0;
        }
    }
    .VueCarousel-inner {
        margin: 0 -5px;
    }

    .VueCarousel-navigation {
        button {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #ffffff;
            border: none;
            outline: none;
            top: calc(50% - 40px);
            border: 1px solid $lightFontColor;

            &:focus {
                outline: none;
            }
        }

        .VueCarousel-navigation-prev {
            @include media-breakpoint-up(md) { 
                left: 50px;
            }

            @include media-breakpoint-up(xl) { 
                left: 20px;
            }

            i {
                margin-right: 3px;
                color: $primaryFontColor;
            }
        }

        .VueCarousel-navigation-next {
            @include media-breakpoint-up(md) { 
                right: 50px;
            }

            @include media-breakpoint-up(xl) { 
                right: 20px;
            }

            i {
                margin-left: 3px;
                color: $primaryFontColor;
            }
        }
    }

    .VueCarousel-dot-container {
        margin: 0 !important;

        button {
            margin-top: 10px !important;
            border-radius: 30px !important;
            width: 44px !important;
            height: 6px !important;

            &:focus {
                outline: none;
            }
        }
    }

    &.products-index .products-grid .product-wrap {
        padding-bottom: 0;
    }

    article {
        height: 100%;
        background-color: #ffffff;
        border-radius: 10px;
        overflow: hidden;

        @include media-breakpoint-up(lg) { 
            margin: 0 5px;
        }

        .product-info {
            padding: 10px;
        }
    }
    
    .carousel-title {
        margin-bottom: 20px;

        @include media-breakpoint-up(md) { 
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        
        h2 {
            letter-spacing: 1px;
            font-size: 24px;
            font-weight: bold;
        }
    }
}

.product-reviews {
    padding-bottom: 50px;

    h2 {
        letter-spacing: 1px;
        font-size: 24px;
        margin-bottom: 20px;
        font-weight: bold;
    }

    .review {
        .review-title {
            font-size: 16px;

            .verified-buyer {
                font-size: 12px;
                color: $primaryColor;

                i {
                    font-size: 16px;
                }
            }
        }

        .review-rating {
            color: $goldColor;
        }

        .review-date {
            color: $lightFontColor;
        }
    }

    .rating-input {
        display: inline-block;
        position: relative;
        font-size: 30px;
    }
      
    .rating-input label {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        margin: 0;
        cursor: pointer;
    }
      
    .rating-input label:last-child {
        position: static;
    }
      
    .rating-input label:nth-child(1) {
        z-index: 5;
    }
      
    .rating-input label:nth-child(2) {
        z-index: 4;
    }
      
    .rating-input label:nth-child(3) {
        z-index: 3;
    }
      
    .rating-input label:nth-child(4) {
        z-index: 2;
    }
      
    .rating-input label:nth-child(5) {
        z-index: 1;
    }
      
    .rating-input label input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
      
    .rating-input label i {
        color: transparent;
    }
      
    .rating-input label:last-child i {
        color: #c1c1c1;
    }
      
    .rating-input:not(:hover) label input:checked ~ i,
    .rating-input:hover label:hover input ~ i {
        color: $goldColor;
    }

    .reviews-pagination {
        .pages {
            margin: 0px 15px;
        }

        .arrow {
            display: inline-block;
            border: 1px solid #e5e5e5;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            cursor: pointer;

            &.disabled {
                color: #9f9e9e;
            }

            &.right {
                padding: 8px 14px;
            }

            &.left {
                padding: 8px 12px;
            }
        }
    }
}

.product-rating {
    font-size: 14px;
    color: $lightFontColor;

    i {
        font-size: 20px;
        color: $goldColor;
    }

    &.empty {
        i {
            color: $lightFontColor;
        }
    }

    &:hover {
        color: $lightFontColor;

        .review-cta {
            color: $primaryColor;
            text-decoration: underline;
        }
    }
}