.search-modal {
    a {
        color: $primaryFontColor;
    }

    ul li {
        font-size: 18px;
    }

    .no-results {
        color: $lightFontColor;
    }

    .product-brand-name {
        font-size: 14px;
    }

    .show-all-link {
        color: $primaryColor;
    }

    .ais-SearchBox-form {
        position: relative;
    }

    .ais-SearchBox-input {
        padding: 15px 45px;
        width: 100%;
        position: relative;
        background-color: #fff;
        border: 1px solid #c4c8d8;
        border-radius: 5px;
    }

    .ais-SearchBox-submit {
        position: absolute;
        z-index: 1;
        width: 15px;
        height: 20px;
        top: 50%;
        left: 17px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        svg {
            width: 15px;
            height: 15px;
        }
    }

    .ais-SearchBox-reset {
        position: absolute;
        z-index: 1;
        width: 15px;
        height: 20px;
        top: 50%;
        right: 17px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        svg {
            width: 15px;
            height: 15px;
        }
    }
}