.user-settings {
    .side-menu {
        li {
            border-top: 1px solid $borderColor;

            &:last-child {
                border-bottom: 1px solid $borderColor;
            }

            a {
                padding: 10px 0px;
                color: $primaryFontColor;
                display: block;
            }

            a:hover {
                color: $primaryColor;
            }

            &.active {
                a {
                    font-weight: bold;
                    color: $primaryColor;
                }
            }
        }
    }

    .accordion-orders {
        .card {
            .card-header {
                .order-date {
                    float: right;
                    line-height: 35px;
                    font-size: 16px;
                }
            }

            .table > tbody > tr > td {
                vertical-align: middle;
           }
        }
    }
}