<template>
    <div class="back-to-stock-alert-form">
        <div v-if="success" class="alert alert-success m-0">
            Biti ćete obaviješteni kad proizvod ponovno bude dostupan.
        </div>
        <template v-else>
            <div class="form-group">
                <label for="email" class="font-weight-bold">Želite prvi saznati kad proizvod postane dostupan? Unesite Vašu e-mail adresu i mi Vam javimo.</label>
                <input id="email" type="email" class="input-field" :class="{'invalid': validationError}" name="email" placeholder="E-mail" v-model="email">
                <div v-if="validationError" class="invalid-feedback" style="display: block; font-size: 14px;">
                    {{validationError}}
                </div>
            </div>
            <button class="btn btn-primary" @click="send">Javi mi</button>
        </template>
    </div>
</template>
<script>
    export default {
        props: {
            productId: {
                type: String,
                required: true
            }
        },

        data() {
            return {
                email: null,
                validationError: null,
                success: false
            }
        },

        methods: {
            send() {
                if(!this.email) {
                    this.validationError = 'Unesite validan email';
                    return;
                }

                this.validationError = null;

                axios.post('/products/' + this.productId + '/alert', {
                    email: this.email
                }).then(() => {
                    this.success = true;
                }).catch((error) => {
                    if(error.response && error.response.status == 422) {
                        this.validationError = 'Unesite validan email';
                    }
                });
            }
        }
    }
</script>