<script>
    export default {
        data() {
            return {
                filters: {
                    onSale: false
                }
            }
        },

        watch: {
            filters: {
                deep: true,
                handler(newVal) {
                    axios.get(this.ajaxUrl)
                        .then((response) => {
                            this.rawHtml = '<p>ovo je paragraph</p>';
                            var MyComponent = Vue.extend({
                                template: this.rawHtml
                            });
                            var component = new MyComponent().$mount();
                            document.getElementById('products-grid').remove();
                            document.getElementById('product-results').appendChild(component.$el);
                        });
                }
            }
        }
    }
</script>
