<template>
    <div id="reviews">
        <div class="d-md-flex justify-content-between align-items-center">
            <h2 class="m-md-0">Recenzije <span v-if="meta && meta.total">({{meta.total}})</span></h2>
            <div v-if="!success" class="d-md-flex align-items-center justify-content-end">
                <div v-if="meta && meta.total" class="font-weight-bold mb-3 mb-md-0 mr-3">Kako ocjenjujete ovaj proizvod?</div>
                <div v-else class="font-weight-bold mb-3 mb-md-0 mr-3">Budite prvi i ocjenite ovaj proizvod.</div>
                <a href="#writeReviewForm" class="btn btn-outline-primary" data-toggle="collapse" aria-expanded="false" aria-controls="writeReviewForm" id="_dusk_write_review_button">Napišite recenziju</a>
            </div>
        </div>
        <div class="collapse" id="writeReviewForm">
            <div v-if="success" class="alert alert-success mt-3">
                Vaša recenzija je uspješno poslana i biti će vidljiva nakon provjere.
            </div>
            <form v-else class="pt-4">
                <div class="form-group">
                    <label for="rating">Ocjena *</label>
                    <div class="rating-input" id="rating">
                        <label>
                            <input v-model="rating" type="radio" name="rating" value="1"/>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </label>
                        <label>
                            <input v-model="rating" type="radio" name="rating" value="2"/>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </label>
                        <label>
                            <input v-model="rating" type="radio" name="rating" value="3"/>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </label>
                        <label>
                            <input v-model="rating" type="radio" name="rating" value="4"/>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </label>
                        <label>
                            <input v-model="rating" type="radio" name="rating" value="5"/>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i id="_dusk_review_rating" class="fa fa-star" aria-hidden="true"></i>
                        </label>
                    </div>
                    <div v-if="errors && errors.rating && errors.rating.length" class="invalid-feedback" style="display: block; font-size: 14px;">
                        Unesite ocjenu
                    </div>
                </div>

                <div class="form-group">
                    <label for="name">Vaše Ime *</label>
                    <input id="name" type="text" class="input-field" :class="{'invalid': errors && errors.name && errors.name.length}" name="name" v-model="name">
                    <div v-if="errors && errors.name && errors.name.length" class="invalid-feedback" style="display: block; font-size: 14px;">
                        Unesite Vaše ime
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="content">Recenzija *</label>
                    <textarea name="content" id="content" rows="5" class="text-field" :class="{'invalid': errors && errors.content && errors.content.length}" v-model="content"></textarea>
                    <div v-if="errors && errors.content && errors.content.length" class="invalid-feedback" style="display: block; font-size: 14px;">
                        Unesite recenziju
                    </div>
                </div>
                <button class="btn btn-primary" id="_dusk_review_submit" type="submit" @click.prevent="submit">Pošalji <i v-if="sending" class="fa fa-refresh fa-spin"></i></button>
            </form>
        </div>

        <div v-if="reviews.length" class="reviews mt-4">
            <div v-for="review in reviews" :key="review.id" class="review">
                <h3 class="review-title font-weight-bold mb-2">{{review.name}} <span v-if="review.verified_buyer" class="verified-buyer"><i class="fa fa-check-circle" aria-hidden="true"></i> Verifikovan kupac</span></h3>
                <div class="review-rating d-flex mb-2" :title="review.rating">
                    <i v-for="n in review.rating" :key="'full-star-' + n" class="fa fa-star" style="margin-right: 2px;" aria-hidden="true"></i>
                    <i v-for="n in 5 - review.rating" :key="'empty-star-' + n" class="fa fa-star-o" style="margin-right: 2px;" aria-hidden="true"></i>
                </div>
                <p class="mb-2">{{review.content}}</p>
                <div class="review-date">
                    {{review.created_at}}
                </div>
                <hr>
            </div>
        </div>

        <div v-if="meta && meta.last_page > 1" class="reviews-pagination d-flex align-items-center">
            <div @click="getReviews(page - 1)" class="arrow left" :class="{'disabled': page == 1}">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </div>
            <span v-if="meta.last_page" class="pages">{{page}} / {{meta.last_page}}</span>
            <div @click="getReviews(page + 1)" class="arrow right" :class="{'disabled': meta.last_page == page}">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            productId: {
                type: Number,
                required: true
            },

            firstName: {
                type: String,
                required: false,
                default: null
            }
        },

        data() {
            return {
                page: 1,
                reviews: [],
                meta: null,
                links: null,
                rating: null,
                name: this.firstName,
                content: null,
                sending: false,
                success: false,
                failed: false,
                errors: null
            }
        },

        created() {
            this.getReviews();
        },

        methods: {
            getReviews(page = 1) {
                if(this.page < 1 || (this.meta && this.meta.last_page < page) ) {
                    return;
                }

                let url = '/products/' + this.productId + '/reviews';

                if(page > 1) {
                    url = url + '?page=' + page;
                }

                axios.get(url)
                    .then((response) => {
                        this.page = page;
                        this.reviews = response.data.data.reviews;
                        this.meta = response.data.meta;
                        this.links = response.data.links;

                        if(page > 1) {
                            let bodyRect = document.body.getBoundingClientRect();
                            let elemRect = document.getElementById('reviews').getBoundingClientRect();
                            let offset   = elemRect.top - bodyRect.top - 120;
                            window.scrollTo(0, offset);
                        }
                    });
            },

            submit() {
                this.sending = true;

                axios.post('/products/' + this.productId + '/reviews', {
                    rating: this.rating,
                    name: this.name,
                    content: this.content
                }).then((response) => {
                    this.sending = false;
                    this.failed = false;
                    this.success = true;

                    let bodyRect = document.body.getBoundingClientRect();
                    let elemRect = document.getElementById('reviews').getBoundingClientRect();
                    let offset   = elemRect.top - bodyRect.top - 120;
                    window.scrollTo(0, offset);
                }).catch((error) => {                    
                    if(error.response && error.response.status == 422) {
                        this.sending = false;
                        this.success = false;
                        this.failed = true;
                        this.errors = error.response.data.errors;

                        let bodyRect = document.body.getBoundingClientRect();
                        let elemRect = document.getElementById(Object.keys(this.errors)[0]).getBoundingClientRect();
                        let offset   = elemRect.top - bodyRect.top - 120;
                        window.scrollTo(0, offset);
                    }

                    throw error;
                });
            }
        }
    }
</script>